@use "../styles/layout/variables.scss" as *;

P {
  margin-bottom: 0 !important;
}

.chat-icon{
  position: fixed;
  z-index: 4000;
  bottom:2rem;
  left:1rem;
  cursor: pointer;
}
.top-arrow-icon{
  position: fixed;
  z-index: 4000;
  right:2rem;
  bottom : 2rem;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: translateY(100px);
}
.top-arrow-icon.show{
  opacity: 1;
  transform: translateY(0);
}

.navigation-bar {
  width: 80%;
  margin: 30px auto;
  height: 65px;
  padding-left: 2.5rem;
  padding-right: 0.5rem;
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  border-radius: 35px;
  align-items: center;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.068);
  transition: background-color 05s ease;
  background-color: var(--natural-white);
  transition: box-shadow 0.3s ease;
  z-index: 1000;
  #navigation-menu-dropdown {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 0;
    width: 50%;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.068);
    @include mobile {
      width: 100%;
    }
    p {
      width: 50%;
      padding: 1rem 1rem 1rem 2rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      a {
        text-decoration: none;
        color: black;
        font-family: saira-regular;
      }
    }
  }
  #cities-dropdown,
  #categories-dropdown {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border-radius: 10px;
    width: 60%;
    border: 1px solid #a1a8ae;
    overflow: hidden;
    height: 350px;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    &::-webkit-scrollbar {
      width: 8px;
      height: 3px;
      border-radius: 10px;
      overflow: hidden;
      @include mobile {
        width: 2px;
      }
    }
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      padding: 1rem 0rem;
      overflow: hidden;
      border-radius: 10px;
      margin-block: 0.3rem;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #a1a8ae;
      border-radius: 10px;
      overflow: hidden;
      border: 2px solid #f1f1f1;
    }
    .city-row {
      display: flex;
      padding-left: 10px;
      align-items: center;
      gap: 0.5rem;
      border: 1px solid #ecf0f3;
      padding: 0.5rem 10px;
      img {
        width: 20px;
        height: 20px;
      }
      P {
        font-family: "Cairo";
        font-weight: 600;
      }
    }
    .categories-row {
      border: 1px solid #ecf0f3;
      padding: 0.5rem 10px;
      padding-left: 10px;
    }
  }
  .navigation-left-side {
    display: flex;
    gap: 2rem;
    .navigation-menu {
      display: none;
      a {
        font-family: saira-semiBold;
        text-decoration: none;
      }
      svg {
        transition: 0.3s;
        margin-right: 0.7rem;
      }
      #navigation-menu-btn.rotated {
        transform: rotate(90deg);
      }
      @include tablet {
        align-self: center;
        display: flex;
      }
    }
    @include mobileXS {
      gap: 1.5rem;
    }
  }
  .navigation-right-side {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    .navbar-search-box {
      position: relative;
      .search-absolute-box {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 350px;
        height:40px;
        display: none;
        border-radius: 40px;
        border: 1px solid #ecf0f3;
        @include mobile{
          width: 220px;
        }
        input {
          width: 100%;
          height: 100%;
          border: 1px solid #ecf0f3;
          outline-color: var(--primary--color);
          border-radius: 40px;
          padding: 0rem 0.7rem;
          @include mobile {
            font-size: 12px;
          }
        }
        svg {
          position: absolute;
          top: 50%;
          right: 0.8rem;
          transform: translateY(-50%);
        }
      }
    }
  }
  ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    height: 65px;
    align-items: center;
    gap: 2rem;
    position: relative;
    .active-link {
      color: var(--primary--color);
      font-family: saira-semiBold;
      border-bottom: 2px solid var(--primary--color);
    }
    a {
      color: var(--neutral-black);
      text-decoration: none;
      font-family: saira-regular;
      padding: 1rem 0rem;
    }
    @include customScreen {
      gap: 1.5rem;
    }
    @include tablet {
      display: none;
    }
  }
  svg {
    cursor: pointer;
  }
  @include customScreen {
    padding-left: 1rem;
  }
  @include mobile {
    width: 93%;
    padding-left: 1.5rem;
  }
  @include mobileXS {
    padding-left: 1rem;
  }
}
.navigation-bar.scrolled {
  transition: background-color 0.5s ease;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.068);
  background-color: rgba(236, 240, 243, 0.945);
}
.head-section {
  margin: 200px 0px 0px;
  @include mobile {
    margin: 170px 0px 0px;
  }
  .heading-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .head-title {
      font-family: saira-extraBold;
      font-size: 32px;
      width: 100%;
      text-align: center;
    }
    .sub-title {
      width: 100%;
      font-family: saira-medium;
      font-size: 32px;
      margin-bottom: 10px !important;
      text-align: center;
    }
  }
  .head-description {
    width: 70%;
    margin: 100px auto;
    text-align: center;
    color: #333d45;
    font-family: "Cairo";
    span {
      color: #f77b08;
      font-weight: bolder;
      font-size: 17px;
    }
    @include mobile {
      width: 90%;
    }
  }
  .download-buttons {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    width: 100%;
    @include mobile {
      gap: 0.6rem;
    }
    @media (max-width: 360px) {
      flex-direction: column;
    }
    .download-btn {
      border: 1px solid #333d45;
      border-radius: 30px;
      padding: 0.5rem 1rem;
      background-color: #fff;
      text-decoration: none;
      color: #333d45;
      @media (max-width: 360px) {
        width: 70%;
        text-align: center;
      }
      @include mobile {
        padding: 0.5rem 0.7rem;
        font-size: 14px;
        text-transform: capitalize;
      }
      .mobile-span {
        @include mobile {
          display: none;
        }
      }
    }
  }
}
.middle-section {
  margin: 60px auto;
  width: 80%;
  padding: 3rem 0rem;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.466)),
    url(./Assets/earth.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  z-index: 1;
  border-radius: 15px;
  @include mobile {
    width: 90%;
  }
  p {
    text-align: center;
    color: white;
    width: 70%;
    margin: auto;
    font-family: "Cairo";
    line-height: 28px;
    margin-top: 1rem;
    @include tablet {
      width: 80%;
    }
    @include mobile {
      width: 90%;
    }
  }
  button {
    background-color: #f77b08;
    padding: 0.7rem 2rem;
    border: 1px solid #f77b08;
    border-radius: 35px;
    display: block;
    margin: 20px auto;
    box-shadow: 0px 0px 10px 7px rgba(247, 124, 8, 0.336);
    @include mobile {
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    a {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      text-decoration: none;
      font-family: saira-semiBold;
      color: #fff;
      font-size: 14px;
    }
  }
}
.spliter {
  margin: 2rem 0rem;
  width: 85%;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    user-select: none;
  }
}
.categories-section {
  width: 85%;
  margin: 100px auto;
  // border-bottom: 1px solid #a1a8ae;
  padding-bottom: 3rem;
  @include mobile {
    width: 90%;
  }
  .categories-head-container {
    margin: 3rem 0rem 5rem 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .categories-head-left {
      width: 12%;
      display: flex;
      gap: 0.6rem;
      @include mobileXS {
        gap: 0rem;
        width: 25%;
      }
      .cards-svgs {
        height: 100%;
        width: 50%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: 0.3s;
        }
        svg.cards-off {
          opacity: 0;
        }
      }
      .rows-svgs {
        height: 100%;
        width: 50%;
        position: relative;
        svg {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: 0.3s;
        }
        svg.rows-on {
          opacity: 0;
        }
      }
      @include mobile {
        // width: fit-content;
        svg {
          height: 35px;
          width: 35px;
        }
      }
    }
    .categories-head-right {
      width: 80%;
      display: flex;
      position: relative;
      justify-content: flex-end;
      input {
        width: 60%;
        background-color: #f9fafa;
        border: none;
        padding: 1rem 1rem;
        border-radius: 10px;
        font-family: "Cairo";
        font-size: 14px;
        outline-color: var(--primary--color);
        @include mobile {
          width: 100%;
          padding: 0.7rem;
          font-size: 12px;
          padding-left: 0.4rem;
        }
      }
      .category-search-btn {
        position: absolute;
        right: 0.5rem;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--primary--color);
        padding: 0.5rem;
        border-radius: 10px;
        border: 1px solid var(--primary--color);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        @include mobile {
          padding: 0.3rem;
          right: 0.3rem;
          border-radius: 7px;
          svg {
            height: 15px;
            width: 15px;
          }
        }
      }
    }
  }
  .categories-cards-container {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid #a1a8ae;
    .category-card-item {
      width: calc((100% / 3) - 1.875rem);
      padding: 0rem 0.5rem;
      margin-bottom: 1rem;
      @include tablet {
        width: calc((100% / 2) - 1.875rem);
      }
      @include mobile {
        width: 100%;
      }
      .category-slide-box {
        box-shadow: 1px 1px 10px 2px rgba(179, 183, 184, 0.288);
        border-radius: 25px 25px 40px 5px;
        position: relative;
        padding-bottom: 1rem;
        background-color: white;
        .back-border {
          position: absolute;
          top: -15px;
          left: -17px;
          z-index: -1;
        }
        .image-box {
          height: 200px;
          border-radius: 5px 5px 0px 0px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            border-radius: 10px 10px 0px 0px;

            object-fit: cover;
          }
        }
        .category-inner {
          background-color: white;
          padding: 2rem 0rem 0rem;
          overflow: hidden;
          width: 90%;
          margin: auto;
          p:first-child {
            font-family: saira-semiBold;
            text-align: center;
            color: var(--neutral-black);
            font-size: 18px;
          }
          p:nth-of-type(2) {
            text-align: center;
            margin-top: 0.5rem;
            color: var(--primary--color);
            font-family: saira-semiBold;
            font-size: 15px;
          }
        }
      }
    }
  }
  .categories-rows-container {
    width: 88%;
    margin: auto;
    display: none;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1.875rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid #a1a8ae;
    .category-row-item {
      width: calc((100% / 2) - 1.875rem);
      border: 1px solid #a1a8ae;
      border-radius: 8px;
      padding: 1rem;
      background-color: #fcfcfc;
      @include mobile {
        width: 100%;
      }
      @include mobileXS {
        font-size: 15px;
        padding-right: 0.5rem;
      }
      p {
        font-family: saira-medium;
      }
    }
  }
  .categories-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 30px auto;
    .first-page,
    .last-page {
      background-color: #f3f5f7;
      display: flex;
      justify-content: center;
      padding: 0.5rem;
      cursor: pointer;
    }
    .previous-page,
    .next-page {
      background-color: #f3f5f7;
      display: flex;
      justify-content: center;
      padding: 0.5rem 1rem;
      cursor: pointer;
    }
    .navigation-inner{
      color: #a1a8ae;
      margin: 0rem 2rem;
      font-family: "Cairo";
      .active{
        color: #000;
        font-weight: 700;
      }
    }
  }
  .categories-cards-container.active,
  .categories-rows-container.active {
    display: flex;
    -webkit-animation: fadeIn 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fadeIn 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(10%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
.footer {
  width: 95%;
  margin: 30px auto;
  margin-top: 13rem;
  padding: 2rem 2rem 0rem 2rem;
  background-color: var(--ternary-neutrals--1);
  border-radius: 20px;
  position: relative;
  @include mobile {
    padding: 1rem 1rem 0rem 1rem;
    margin-bottom: 15px;
    margin-top: 0;
  }
  .border-icon {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .footer-upper {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    @include tablet {
      flex-direction: column;
    }
    .footer-left-side {
      width: calc(100% / 3);
      position: relative;
      padding-left: 1rem;
      padding-top: 2rem;
      border-right: 1px solid #0f1b25;
      align-self: stretch;
      @include tablet {
        width: 100%;
      }
      .logo {
        width: 100px;
      }
      .protected {
        position: absolute;
        bottom: 2rem;
        left: -0.5rem;
        @include tablet {
          right: 1rem;
          top: 1rem;
          left: unset;
        }
      }
      p {
        color: #e4f1fe;
        font-family: "Cairo";
        font-size: 16px;
        line-height: 30px;
        margin-top: 2rem;
        width: 90%;
        @include mobile {
          width: 100%;
        }
      }
    }
    .footer-middle {
      padding-left: 2rem;
      padding-top: 0.5rem;
      border-right: 1px solid #0f1b25;
      padding-right: 2rem;
      display: flex;
      flex-direction: column;
      @include tablet {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 3rem;
      }
      @include mobile {
        padding-left: 0px;
      }
      .middle-inner {
        display: flex;
        gap: 0.7rem;
        margin-bottom: 3rem;
        @include tablet {
          width: 50%;
        }
        @include mobile {
          width: 100%;
        }
        .heading-box {
          p {
            font-family: saira-medium;
            color: #e4f1fe;
            font-size: 17px;
          }
          svg {
            margin-top: -10px;
          }
        }
        p.page {
          margin: 0.5rem 0rem;
          a {
            font-family: "Cairo";
            font-size: 14px;
            text-decoration: none;
            color: #e4f1fe;
            font-weight: normal;
            &:hover {
              color: var(--primary--color);
            }
          }
        }
      }
    }
    .footer-right-side {
      width: calc(100% / 3);
      padding-left: 2rem;
      padding-top: 0.5rem;
      padding-right: 2rem;
      @include mobile {
        padding-left: 0px;
        padding-right: 0px;
      }
      @include tablet {
        width: 100%;
      }
      .inner-box {
        display: flex;
        gap: 0.7rem;
        align-items: flex-start;
        color: #e4f1fe;
        border-bottom: 1px solid #19242e;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        .inner-right-box {
          .heading-box {
            @include mobile {
              display: flex;
              gap: 0.5rem;
              align-items: flex-start;
            }
            p {
              font-family: saira-medium;
              color: #e4f1fe;
            }
            svg {
              margin-top: -10px;
            }
            .mobile-recieve-svg {
              display: none;
              @include mobile {
                display: block;
                margin-top: 0px;
              }
            }
          }
          p.description {
            margin-top: 2rem;
            font-family: "Cairo";
            font-size: 14px;
            font-weight: 400;
          }
          .email-box {
            margin-top: 2.5rem;
            position: relative;
            input {
              width: 100%;
              padding: 0.6rem 1rem;
              border-radius: 30px;
              border: 1px solid #19242e;
              outline: none;
              font-family: "Cairo";
              background-color: #19242e;
              color: white;
              &::placeholder {
                color: #697177;
              }
              @include mobile {
                font-size: 12px;
              }
            }
            button {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 0.5rem;
              border-radius: 20px;
              background-color: var(--primary--color);
              border: 1px solid var(--primary--color);
              padding: 0.2rem 1rem;
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 0.5rem;
              color: white;
              @include mobile {
                font-size: 12px;
              }
            }
          }
        }
        .inner-left-box {
          @include mobile {
            display: none;
          }
        }
      }
      .contact-us {
        color: #e4f1fe;
        border-bottom: 1px solid #19242e;
        padding-bottom: 2rem;
        padding-top: 1.5rem;
        .heading {
          display: flex;
          gap: 0.5rem;
          align-items: flex-start;
          margin-bottom: 1rem;
          .contact-head {
            p {
              font-family: saira-medium;
              color: #e4f1fe;
            }
            svg {
              margin-top: -10px;
            }
          }
        }
        .contact-row {
          margin-bottom: 1rem !important;
          display: flex;
          font-family: "Cairo";
          font-size: 14px;
          gap: 0.5rem;
          a {
            text-decoration: none;
            color: #e4f1fe;
          }
          span {
            display: block;
          }
          svg {
            width: 40px;
          }
        }
        .social {
          display: flex;
          gap: 1rem;
          align-items: center;
          margin-top: 2.5rem;
          margin-left: 1rem;
          @include mobile {
            justify-content: center;
            gap: 2rem;
            margin-left: 0px;
          }
          svg {
            cursor: pointer;
          }
        }
      }
      .payment-method {
        padding-top: 2rem;
        padding-bottom: 2rem;
        color: #e4f1fe;
        @include tablet {
          display: flex;
          justify-content: space-between;
        }
        @include mobile {
          display: block;
        }
        .payment-heading {
          display: flex;
          gap: 0.5rem;
          @include tablet {
            align-items: end;
            width: 45%;
          }
          @include mobile {
            width: 100%;
            align-items: flex-start;
          }
          .payment-heading-text {
            p {
              font-family: saira-medium;
              color: #e4f1fe;
            }
          }
        }
        .payment-ways {
          margin-top: 2rem;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          @include tablet {
            justify-content: center;
            gap: 2rem;
          }
          @include mobile {
            gap: 1rem;
          }
        }
      }
    }
  }
  .copyright {
    text-align: center;
    padding: 1rem;
    border-top: 1px solid #0f1b25;
    color: #e4f1fe;
    margin-top: 1rem;
    font-family: "Cairo";
    font-size: 12px;
    font-weight: 400;
  }
}
