@use "../styles/layout/variables.scss" as *;

P {
  margin-bottom: 0 !important;
}
.navigation-bar {
  width: 80%;
  margin: 30px auto;
  height: 65px;
  padding-left: 2.5rem;
  padding-right: 0.5rem;
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  border-radius: 35px;
  align-items: center;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.068);
  transition: background-color 05s ease;
  background-color: var(--natural-white);
  transition: box-shadow 0.3s ease;
  z-index: 1000;
  #navigation-menu-dropdown {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 0;
    width: 50%;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.068);
    @include mobile {
      width: 100%;
    }
    p {
      width: 50%;
      padding: 1rem 2rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      a {
        text-decoration: none;
        color: black;
        font-family: saira-regular;
      }
    }
  }
  #cities-dropdown,
  #categories-dropdown {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border-radius: 10px;
    width: 60%;
    border: 1px solid #a1a8ae;
    overflow: hidden;
    height: 350px;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    &::-webkit-scrollbar {
      width: 8px;
      height: 3px;
      border-radius: 10px;
      overflow: hidden;
      @include mobile {
        width: 2px;
      }
    }
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      padding: 1rem 0rem;
      overflow: hidden;
      border-radius: 10px;
      margin-block: 0.3rem;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #a1a8ae;
      border-radius: 10px;
      overflow: hidden;
      border: 2px solid #f1f1f1;
    }
    .city-row {
      display: flex;
      padding-left: 10px;
      align-items: center;
      gap: 0.5rem;
      border: 1px solid #ecf0f3;
      padding: 0.5rem 10px;
      img {
        width: 20px;
        height: 20px;
      }
      P {
        font-family: "Cairo";
        font-weight: 600;
      }
    }
    .categories-row {
      border: 1px solid #ecf0f3;
      padding: 0.5rem 10px;
      padding-left: 10px;
    }
  }
  .navigation-left-side {
    display: flex;
    gap: 2rem;
    .navigation-menu {
      display: none;
      a {
        font-family: saira-semiBold;
        text-decoration: none;
      }
      svg {
        transition: 0.3s;
        margin-right: 0.7rem;
      }
      #navigation-menu-btn.rotated {
        transform: rotate(90deg);
      }
      @include tablet {
        align-self: center;
        display: flex;
      }
    }
    @include mobileXS {
      gap: 1.5rem;
    }
  }

  ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    height: 65px;
    align-items: center;
    gap: 2rem;
    position: relative;
    .active-link {
      color: var(--primary--color);
      font-family: saira-semiBold;
      border-bottom: 2px solid var(--primary--color);
    }
    a {
      color: var(--neutral-black);
      text-decoration: none;
      font-family: saira-regular;
      padding: 1rem 0rem;
    }
    @include customScreen {
      gap: 1.5rem;
    }
    @include tablet {
      display: none;
    }
  }
  svg {
    cursor: pointer;
  }
  @include customScreen {
    padding-left: 1rem;
  }
  @include mobile {
    width: 93%;
    padding-left: 1.5rem;
  }
  @include mobileXS {
    padding-left: 1rem;
  }
}
.navigation-bar.scrolled {
  transition: background-color 0.5s ease;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.068);
  background-color: rgba(236, 240, 243, 0.945);
}
.head-section {
  margin: 200px 0px 0px;
  @include mobile {
    margin: 170px 0px 0px;
  }
  .heading-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .head-title {
      font-family: saira-extraBold;
      font-size: 32px;
      width: 100%;
      text-align: center;
    }
    .sub-title {
      width: 100%;
      font-family: saira-medium;
      font-size: 32px;
      margin-bottom: 10px !important;
      text-align: center;
    }
  }
  .head-description {
    width: 70%;
    margin: 100px auto;
    text-align: center;
    color: #333d45;
    font-family: "Cairo";
    span {
      color: #f77b08;
      font-weight: bolder;
      font-size: 17px;
    }
    @include mobile {
      width: 90%;
    }
  }
  .download-buttons {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    width: 100%;
    @include mobile {
      gap: 0.6rem;
    }
    @media (max-width: 360px) {
      flex-direction: column;
    }
    .download-btn {
      border: 1px solid #333d45;
      border-radius: 30px;
      padding: 0.5rem 1rem;
      background-color: #fff;
      text-decoration: none;
      color: #333d45;
      @media (max-width: 360px) {
        width: 70%;
        text-align: center;
      }
      @include mobile {
        padding: 0.5rem 0.7rem;
        font-size: 14px;
        text-transform: capitalize;
      }
      .mobile-span {
        @include mobile {
          display: none;
        }
      }
    }
  }
}
.middle-section {
  margin: 60px auto;
  width: 80%;
  padding: 3rem 0rem;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.466)),
    url(./Assets/earth.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  z-index: 1;
  border-radius: 15px;
  @include mobile {
    width: 90%;
  }
  p {
    text-align: center;
    color: white;
    width: 70%;
    margin: auto;
    font-family: "Cairo";
    line-height: 28px;
    margin-top: 1rem;
    @include tablet {
      width: 80%;
    }
    @include mobile {
      width: 90%;
    }
  }
  button {
    background-color: #f77b08;
    padding: 0.7rem 2rem;
    border: 1px solid #f77b08;
    border-radius: 35px;
    display: block;
    margin: 20px auto;
    box-shadow: 0px 0px 10px 7px rgba(247, 124, 8, 0.336);
    @include mobile {
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    a {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      text-decoration: none;
      font-family: saira-semiBold;
      color: #fff;
      font-size: 14px;
    }
  }
}
.spliter {
  margin: 2rem 0rem;
  width: 85%;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    user-select: none;
  }
}
