* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

@font-face {
  font-family: saira-extraBold;
  src: url(../fonts/saira/static/Saira-ExtraBold.ttf);
}
@font-face {
  font-family: saira-bold;
  src: url(../fonts/saira/static/Saira-Bold.ttf);
}
@font-face {
  font-family: saira-semiBold;
  src: url(../fonts/saira/static/Saira-SemiBold.ttf);
}
@font-face {
  font-family: saira-medium;
  src: url(../fonts/saira/static/Saira-Medium.ttf);
}
@font-face {
  font-family: saira-regular;
  src: url(../fonts/saira/static/Saira-Regular.ttf);
}
@font-face {
  font-family: cairo-Bold;
  src: url(../fonts/Cairo/Cairo-Bold.ttf);
}
@font-face {
  font-family: cairo-semiBold;
  src: url(../fonts/Cairo/Cairo-SemiBold.ttf);
}
:root {
  --neutral-black: #000c17;
  --primary--color: #0884f7;
  --secondary--color: #f77b08;
  --ternary-neutrals--1: #000c17;
  --ternary-neutrals--2: #333d45;
  --ternary-neutrals--3: #a1a8ae;
  --ternary-neutrals--4: #ecf0f3;
  --ternary-neutrals--5: #f9fafa;
  --natural--white: #ffffff;
}

P {
  margin-bottom: 0 !important;
}

.chat-icon {
  position: fixed;
  z-index: 4000;
  bottom: 2rem;
  left: 1rem;
  cursor: pointer;
}
@media (max-width: 767px) {
  .chat-icon {
    height: 50px;
    left: 5px;
  }
}

.top-arrow-icon {
  position: fixed;
  z-index: 4000;
  right: 2rem;
  bottom: 2rem;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: translateY(100px);
}
@media (max-width: 767px) {
  .top-arrow-icon {
    right: 1rem;
  }
}

.top-arrow-icon.show {
  opacity: 1;
  transform: translateY(0);
}

.navigation-bar {
  width: 80%;
  margin: 30px auto;
  height: 65px;
  padding-left: 2.5rem;
  padding-right: 0.5rem;
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  border-radius: 35px;
  align-items: center;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.068);
  transition: background-color 5s ease;
  background-color: var(--natural-white);
  transition: box-shadow 0.3s ease;
  z-index: 1000;
}
.navigation-bar #navigation-menu-dropdown {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  position: absolute;
  top: 100%;
  left: 0;
  width: 50%;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.068);
}
@media (max-width: 767px) {
  .navigation-bar #navigation-menu-dropdown {
    width: 100%;
  }
}
.navigation-bar #navigation-menu-dropdown p {
  width: 50%;
  padding: 1rem 1rem 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.navigation-bar #navigation-menu-dropdown p a {
  text-decoration: none;
  color: black;
  font-family: saira-regular;
}
.navigation-bar #cities-dropdown,
.navigation-bar #categories-dropdown {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 10px;
  width: 60%;
  border: 1px solid #a1a8ae;
  overflow: hidden;
  height: 350px;
  overflow: auto;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
.navigation-bar #cities-dropdown::-webkit-scrollbar,
.navigation-bar #categories-dropdown::-webkit-scrollbar {
  width: 8px;
  height: 3px;
  border-radius: 10px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .navigation-bar #cities-dropdown::-webkit-scrollbar,
  .navigation-bar #categories-dropdown::-webkit-scrollbar {
    width: 2px;
  }
}
.navigation-bar #cities-dropdown::-webkit-scrollbar-track,
.navigation-bar #categories-dropdown::-webkit-scrollbar-track {
  background: #f1f1f1;
  padding: 1rem 0rem;
  overflow: hidden;
  border-radius: 10px;
  margin-block: 0.3rem;
}
.navigation-bar #cities-dropdown::-webkit-scrollbar-thumb,
.navigation-bar #categories-dropdown::-webkit-scrollbar-thumb {
  background-color: #a1a8ae;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid #f1f1f1;
}
.navigation-bar #cities-dropdown .city-row,
.navigation-bar #categories-dropdown .city-row {
  display: flex;
  padding-left: 10px;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid #ecf0f3;
  padding: 0.5rem 10px;
}
.navigation-bar #cities-dropdown .city-row img,
.navigation-bar #categories-dropdown .city-row img {
  width: 20px;
  height: 20px;
}
.navigation-bar #cities-dropdown .city-row P,
.navigation-bar #categories-dropdown .city-row P {
  font-family: "Cairo";
  font-weight: 600;
}
.navigation-bar #cities-dropdown .categories-row,
.navigation-bar #categories-dropdown .categories-row {
  border: 1px solid #ecf0f3;
  padding: 0.5rem 10px;
  padding-left: 10px;
}
.navigation-bar .navigation-left-side {
  display: flex;
  gap: 2rem;
}
.navigation-bar .navigation-left-side .navigation-menu {
  display: none;
}
.navigation-bar .navigation-left-side .navigation-menu a {
  font-family: saira-semiBold;
  text-decoration: none;
}
@media (max-width: 420px) {
  .navigation-bar .navigation-left-side .navigation-menu a {
    font-size: 14px;
  }
}
.navigation-bar .navigation-left-side .navigation-menu svg {
  transition: 0.3s;
  margin-right: 0.7rem;
}
.navigation-bar .navigation-left-side .navigation-menu #navigation-menu-btn.rotated {
  transform: rotate(90deg);
}
@media (max-width: 1024px) {
  .navigation-bar .navigation-left-side .navigation-menu {
    align-self: center;
    align-items: center;
    display: flex;
  }
}
@media (max-width: 420px) {
  .navigation-bar .navigation-left-side {
    gap: 0.5rem;
  }
}
.navigation-bar .navigation-right-side {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.navigation-bar .navigation-right-side .navbar-search-box {
  position: relative;
}
.navigation-bar .navigation-right-side .navbar-search-box .search-absolute-box {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 350px;
  height: 40px;
  display: none;
  border-radius: 40px;
  border: 1px solid #ecf0f3;
}
@media (max-width: 767px) {
  .navigation-bar .navigation-right-side .navbar-search-box .search-absolute-box {
    width: 220px;
  }
}
.navigation-bar .navigation-right-side .navbar-search-box .search-absolute-box input {
  width: 100%;
  height: 100%;
  border: 1px solid #ecf0f3;
  outline-color: var(--primary--color);
  border-radius: 40px;
  padding: 0rem 0.7rem;
}
@media (max-width: 767px) {
  .navigation-bar .navigation-right-side .navbar-search-box .search-absolute-box input {
    font-size: 12px;
  }
}
.navigation-bar .navigation-right-side .navbar-search-box .search-absolute-box svg {
  position: absolute;
  top: 50%;
  right: 0.8rem;
  transform: translateY(-50%);
}
.navigation-bar ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  height: 65px;
  align-items: center;
  gap: 2rem;
  position: relative;
}
.navigation-bar ul .active-link {
  color: var(--primary--color);
  font-family: saira-semiBold;
  border-bottom: 2px solid var(--primary--color);
}
.navigation-bar ul a {
  color: var(--neutral-black);
  text-decoration: none;
  font-family: saira-regular;
  padding: 1rem 0rem;
}
@media (min-width: 1025px) and (max-width: 1135px) {
  .navigation-bar ul {
    gap: 1.5rem;
  }
}
@media (max-width: 1024px) {
  .navigation-bar ul {
    display: none;
  }
}
.navigation-bar svg {
  cursor: pointer;
}
@media (min-width: 1025px) and (max-width: 1135px) {
  .navigation-bar {
    padding-left: 1rem;
  }
}
@media (max-width: 767px) {
  .navigation-bar {
    width: 93%;
    padding-left: 1.5rem;
  }
}
@media (max-width: 420px) {
  .navigation-bar {
    padding-left: 1rem;
  }
}

.navigation-bar.scrolled {
  transition: background-color 0.5s ease;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.068);
  background-color: rgba(236, 240, 243, 0.945);
}

.hero-section {
  width: 90%;
  margin: 150px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 40px;
  overflow: hidden;
}
.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(20, 20, 26, 0.712);
  z-index: 1;
  border-radius: 40px;
}
.hero-section img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px;
}
.hero-section p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  color: #fff;
  font-family: saira-semiBold;
  z-index: 2;
  text-align: center;
}
@media (max-width: 420px) {
  .hero-section p {
    font-size: 30px;
  }
}
.hero-section .social-media {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  z-index: 2;
  background-color: #23292e;
  padding: 0.7rem 0.5rem;
  border-radius: 25px;
}
.hero-section .social-media svg {
  cursor: pointer;
}
@media (max-width: 767px) {
  .hero-section .social-media {
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: row;
    top: unset;
    width: 80%;
    justify-content: space-evenly;
  }
}

.form-section {
  width: 80%;
  border: 1px solid #a1a8ae;
  margin: auto;
  border-radius: 16px;
  position: relative;
  background-color: white;
}
@media (max-width: 767px) {
  .form-section {
    width: 90%;
  }
}
.form-section .loader-top {
  position: absolute;
  left: -55px;
  top: -55px;
  z-index: -1;
}
@media (max-width: 767px) {
  .form-section .loader-top {
    width: 40px;
    top: -55px;
    left: -15px;
  }
}
.form-section .loader-bottom {
  position: absolute;
  right: -55px;
  bottom: -55px;
  z-index: -1;
}
@media (max-width: 767px) {
  .form-section .loader-bottom {
    width: 40px;
    bottom: -55px;
    right: -15px;
  }
}
.form-section .form-section-upper {
  padding: 3rem 0rem;
}
.form-section .form-section-upper .heading {
  display: flex;
  width: 93%;
  gap: 1rem;
  align-items: center;
  margin: auto;
  font-family: "Cairo";
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 1rem;
}
@media (max-width: 767px) {
  .form-section .form-section-upper .heading {
    flex-direction: column;
  }
}
.form-section .form-section-upper .upper-row {
  width: 80%;
  display: flex;
  align-items: center;
  margin: auto;
  gap: 0.7rem;
  margin-bottom: 0.5rem;
}
@media (max-width: 767px) {
  .form-section .form-section-upper .upper-row {
    width: 95%;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.form-section .form-section-upper .upper-row p {
  font-size: 14px;
  font-family: "Cairo";
  font-weight: 400;
  color: #333d45;
}
@media (max-width: 767px) {
  .form-section .form-section-upper .upper-row p {
    width: 90%;
  }
}
@media (max-width: 767px) {
  .form-section .form-section-upper .upper-row svg {
    width: 26px;
    height: 26px;
  }
}
@media (max-width: 767px) {
  .form-section .form-section-upper .upper-row svg rect {
    width: 26px;
    height: 26px;
  }
}
.form-section .form-container {
  background-color: var(--ternary-neutrals--1);
  padding-bottom: 2rem;
  border-radius: 0rem 0rem 16px 16px;
}
.form-section .form-container p {
  padding: 2.5rem 1rem 2rem;
  color: #fff;
  font-family: saira-medium;
  text-align: center;
  font-size: 20px;
}
.form-section .form-container .form-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}
@media (max-width: 767px) {
  .form-section .form-container .form-row {
    flex-direction: column;
    padding: 0rem 1rem;
    gap: 1rem;
    margin-bottom: 1rem;
  }
}
.form-section .form-container .form-row .form-row-item {
  width: 47%;
  display: flex;
  align-items: center;
  background-color: #19242e;
  padding: 0.5rem;
  border-radius: 10px;
}
@media (max-width: 767px) {
  .form-section .form-container .form-row .form-row-item {
    width: 100%;
  }
}
.form-section .form-container .form-row .form-row-item input {
  width: 100%;
  background-color: #19242e;
  border: none;
  outline: none;
  caret-color: #a1a8ae;
  border-left: 1px solid #8c9196;
  padding-left: 0.5rem;
  color: #fff;
  font-family: "Cairo";
  font-weight: 500;
  font-size: 14px;
}
.form-section .form-container .form-row .form-row-item input::-moz-placeholder {
  color: #8c9196;
}
.form-section .form-container .form-row .form-row-item input::placeholder {
  color: #8c9196;
}
@media (max-width: 767px) {
  .form-section .form-container .form-row .form-row-item input {
    font-size: 12px;
  }
}
.form-section .form-container .form-textarea {
  padding: 1rem 2rem;
  border-radius: 10px;
}
@media (max-width: 767px) {
  .form-section .form-container .form-textarea {
    padding: 1rem;
  }
}
.form-section .form-container .form-textarea textarea {
  width: 100%;
  height: 200px;
  resize: none;
  background-color: #19242e;
  border: none;
  outline: none;
  padding: 1rem;
  caret-color: #a1a8ae;
  color: #fff;
  font-family: "Cairo";
  font-weight: 500;
  border-radius: 10px;
  font-size: 14px;
}
.form-section .form-container .form-textarea textarea::-moz-placeholder {
  color: #8c9196;
}
.form-section .form-container .form-textarea textarea::placeholder {
  color: #8c9196;
}
@media (max-width: 767px) {
  .form-section .form-container .form-textarea textarea {
    font-size: 12px;
  }
}
.form-section .form-container .form-submission {
  padding: 3rem 1rem 3rem 2rem;
}
@media (max-width: 767px) {
  .form-section .form-container .form-submission {
    padding: 1rem;
  }
}
.form-section .form-container .form-submission .submit-item {
  position: relative;
  padding-left: 1.8rem;
  margin-bottom: 1rem;
}
.form-section .form-container .form-submission .submit-item label {
  font-family: "Cairo";
  font-weight: 500;
  font-size: 14px;
  color: #ccced1;
}
@media (max-width: 767px) {
  .form-section .form-container .form-submission .submit-item label {
    font-size: 12px;
  }
}
.form-section .form-container .form-submission .submit-item label a {
  color: #ccced1;
}
.form-section .form-container .form-submission .submit-item .custom-checkbox {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  border: none;
  background-color: #eaeef1;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 3px;
}
.form-section .form-container .form-submission .submit-item .custom-checkbox input {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 0;
  cursor: pointer;
  border: none;
  width: 100%;
  height: 100%;
}
.form-section .form-container .form-submission .submit-item .custom-checkbox .checkmark {
  position: absolute;
  left: 0%;
  transform: translateY(-50%);
  top: 50%;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  border: 1px solid var(--Primary-Primary);
  background-color: #eaeef1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}
.form-section .form-container .form-submission .submit-item .custom-checkbox .checkmark::after {
  content: "";
  color: transparent;
}
.form-section .form-container .form-submission .submit-item .custom-checkbox input:checked + .checkmark {
  background-color: var(--primary--color);
}
.form-section .form-container .form-submission .submit-item .custom-checkbox input:checked + .checkmark::after {
  content: "";
  position: absolute;
  display: block;
  left: 36%;
  top: 13%;
  transform: translateX(-50%);
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.form-section .form-container .submit-button {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 50px;
  position: relative;
}
.form-section .form-container .submit-button svg {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.form-section .form-container .submit-button input {
  background-color: var(--primary--color);
  color: #fff;
  text-transform: capitalize;
  border: none;
  padding: 0.7rem 6rem;
  border-radius: 35px;
  font-family: "Cairo";
  font-weight: 700;
}

.head-quarters {
  width: 85%;
  margin: 14rem auto;
  position: relative;
}
.head-quarters .absolute-location {
  position: absolute;
  top: 5%;
  right: 0px;
}
@media (max-width: 767px) {
  .head-quarters .absolute-location {
    height: 90px;
    top: 3%;
  }
}
.head-quarters .quarters-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.head-quarters .quarters-heading p:first-child {
  font-size: 32px;
  font-family: saira-extraBold;
  text-align: center;
}
.head-quarters .quarters-heading p:nth-of-type(2) {
  font-size: 30px;
  font-family: saira-semiBold;
  text-align: center;
}
.head-quarters .quarters-heading img {
  width: 70px;
  margin-top: 1rem;
}
.head-quarters .quarters-description {
  width: 70%;
  text-align: center;
  margin: 50px auto;
  font-family: "Cairo";
  font-weight: 500;
}
@media (max-width: 767px) {
  .head-quarters .quarters-description {
    width: 100%;
  }
}
.head-quarters .quarters-description .quarters-span {
  color: #f77b08;
  font-family: "Cairo";
  font-weight: bold;
  font-size: 18px;
}
.head-quarters .quarters-swiper {
  display: flex;
  margin: 3rem 0rem;
  height: 340px;
  overflow: hidden;
  position: relative;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .head-quarters .quarters-swiper {
    height: 550px;
    width: 80%;
    margin: 3rem auto;
  }
}
@media (max-width: 767px) {
  .head-quarters .quarters-swiper {
    height: 1030px;
    width: 90%;
    padding-bottom: 5rem;
  }
}
.head-quarters .quarters-swiper .navigation-pagination {
  position: relative;
  width: 5%;
}
@media (max-width: 767px) {
  .head-quarters .quarters-swiper .navigation-pagination {
    display: none;
  }
}
.head-quarters .quarters-swiper .navigation-pagination .headquarter-pagination {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 767px) {
  .head-quarters .quarters-swiper .navigation-pagination .headquarter-pagination {
    display: none;
  }
}
.head-quarters .quarters-swiper .navigation-pagination .headquarter-pagination span {
  height: 16px;
  border-radius: 1px;
  width: 5px;
  margin: 2px 0rem;
}
.head-quarters .quarters-swiper .navigation-pagination .headquarter-pagination .swiper-pagination-bullet-active {
  height: 24px;
  width: 6px;
}
.head-quarters .quarters-swiper .navigation-pagination .quarter-navigation {
  position: relative;
  width: 100%;
  height: 100%;
}
.head-quarters .quarters-swiper .navigation-pagination .quarter-navigation button {
  background-color: white;
  color: var(--primary--color);
  border-radius: 30px;
  border: 1px solid var(--primary--color);
  padding: 1rem 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.head-quarters .quarters-swiper .navigation-pagination .quarter-navigation button svg {
  position: absolute;
}
.head-quarters .quarters-swiper .navigation-pagination .quarter-navigation button svg.down-hover {
  opacity: 0;
}
.head-quarters .quarters-swiper .navigation-pagination .quarter-navigation button svg.up-hover {
  transform: rotate(180deg);
  opacity: 0;
}
.head-quarters .quarters-swiper .navigation-pagination .quarter-navigation .quarter-up:hover {
  background-color: var(--primary--color);
}
.head-quarters .quarters-swiper .navigation-pagination .quarter-navigation .quarter-up:hover svg.up-hover {
  opacity: 1;
}
.head-quarters .quarters-swiper .navigation-pagination .quarter-navigation .quarter-up:hover svg.up-arrow {
  opacity: 0;
}
.head-quarters .quarters-swiper .navigation-pagination .quarter-navigation .quarter-down:hover {
  background-color: var(--primary--color);
}
.head-quarters .quarters-swiper .navigation-pagination .quarter-navigation .quarter-down:hover svg.down-hover {
  opacity: 1;
}
.head-quarters .quarters-swiper .navigation-pagination .quarter-navigation .quarter-down:hover svg.down-arrow {
  opacity: 0;
}
.head-quarters .quarters-swiper .navigation-pagination .quarter-navigation button.quarter-up {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
}
.head-quarters .quarters-swiper .navigation-pagination .quarter-navigation button.quarter-down {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}
.head-quarters .quarters-swiper .navigation-pagination-mobile {
  position: absolute;
  width: 100%;
  left: 0;
  top: 230px;
  z-index: 15;
  display: none;
}
@media (max-width: 767px) {
  .head-quarters .quarters-swiper .navigation-pagination-mobile {
    display: flex;
  }
}
.head-quarters .quarters-swiper .navigation-pagination-mobile .quarter-pagination {
  position: absolute;
  top: 10px;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  display: flex;
  justify-content: center;
}
.head-quarters .quarters-swiper .navigation-pagination-mobile .quarter-pagination span {
  width: 16px;
  height: 4px;
  border-radius: 1px;
  margin: 0px 2px;
}
.head-quarters .quarters-swiper .navigation-pagination-mobile .quarter-navigation {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head-quarters .quarters-swiper .navigation-pagination-mobile .quarter-navigation button {
  background-color: rgba(136, 140, 145, 0.3568627451);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 25px;
  padding: 0.4rem 0.7rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head-quarters .quarters-swiper .swiper-wrapper {
  width: 95%;
  flex-direction: column;
  position: relative;
}
@media (max-width: 767px) {
  .head-quarters .quarters-swiper .swiper-wrapper {
    flex-direction: row !important;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .head-quarters .quarters-swiper .swiper-wrapper .swiper-slide {
    width: 100% !important;
  }
}
.head-quarters .quarters-swiper .swiper-wrapper .swiper-slide .inner-swiper-slide {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  gap: 5px;
}
@media (max-width: 1024px) {
  .head-quarters .quarters-swiper .swiper-wrapper .swiper-slide .inner-swiper-slide {
    flex-direction: column;
  }
}
.head-quarters .quarters-swiper .swiper-wrapper .swiper-slide .inner-swiper-slide .left-side-slide {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  width: 50%;
  height: 100%;
}
@media (max-width: 1024px) {
  .head-quarters .quarters-swiper .swiper-wrapper .swiper-slide .inner-swiper-slide .left-side-slide {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .head-quarters .quarters-swiper .swiper-wrapper .swiper-slide .inner-swiper-slide .left-side-slide {
    flex-direction: column;
  }
}
.head-quarters .quarters-swiper .swiper-wrapper .swiper-slide .inner-swiper-slide .left-side-slide .city-image {
  position: relative;
  height: 100%;
  width: 270px;
  border-radius: 10px 0px 0px 10px;
  overflow: hidden;
}
.head-quarters .quarters-swiper .swiper-wrapper .swiper-slide .inner-swiper-slide .left-side-slide .city-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.521);
  z-index: 10;
  border-radius: 10px 0px 0px 10px;
}
@media (max-width: 1024px) {
  .head-quarters .quarters-swiper .swiper-wrapper .swiper-slide .inner-swiper-slide .left-side-slide .city-image {
    width: 350px;
  }
}
@media (max-width: 767px) {
  .head-quarters .quarters-swiper .swiper-wrapper .swiper-slide .inner-swiper-slide .left-side-slide .city-image {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    min-height: 270px;
  }
}
.head-quarters .quarters-swiper .swiper-wrapper .swiper-slide .inner-swiper-slide .left-side-slide .city-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
}
@media (max-width: 767px) {
  .head-quarters .quarters-swiper .swiper-wrapper .swiper-slide .inner-swiper-slide .left-side-slide .city-image img {
    border-radius: 10px 10px 0px 0px;
  }
}
.head-quarters .quarters-swiper .swiper-wrapper .swiper-slide .inner-swiper-slide .left-side-slide .city-image .city-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-family: saira-semiBold;
  color: white;
}
.head-quarters .quarters-swiper .swiper-wrapper .swiper-slide .inner-swiper-slide .left-side-slide .city-details {
  width: 270px;
  padding: 0.8rem;
  border: 1px solid #a1a8ae;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .head-quarters .quarters-swiper .swiper-wrapper .swiper-slide .inner-swiper-slide .left-side-slide .city-details {
    width: 350px;
  }
}
@media (max-width: 767px) {
  .head-quarters .quarters-swiper .swiper-wrapper .swiper-slide .inner-swiper-slide .left-side-slide .city-details {
    width: 100%;
  }
}
.head-quarters .quarters-swiper .swiper-wrapper .swiper-slide .inner-swiper-slide .left-side-slide .city-details .address-details {
  border: 1px dashed #a1a8ae;
  border-radius: 10px;
  padding: 3px;
}
.head-quarters .quarters-swiper .swiper-wrapper .swiper-slide .inner-swiper-slide .left-side-slide .city-details .address-details p.address {
  padding: 0.7rem 0.5rem;
  font-size: 12px;
  font-family: "Cairo";
  font-weight: 500;
  color: black;
}
.head-quarters .quarters-swiper .swiper-wrapper .swiper-slide .inner-swiper-slide .left-side-slide .city-details .address-details .address-details-upper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}
.head-quarters .quarters-swiper .swiper-wrapper .swiper-slide .inner-swiper-slide .left-side-slide .city-details .address-details .address-details-upper span {
  color: var(--primary--color);
  font-family: "Cairo";
  font-weight: 700;
}
.head-quarters .quarters-swiper .swiper-wrapper .swiper-slide .inner-swiper-slide .left-side-slide .city-details .address-details .address-details-upper .copy {
  position: absolute;
  right: 7px;
  top: 7px;
  cursor: pointer;
}
.head-quarters .quarters-swiper .swiper-wrapper .swiper-slide .inner-swiper-slide .left-side-slide .city-details .address-contacts {
  border-top: 1px solid #ecf0f3;
  padding: 0.8rem 0rem;
}
.head-quarters .quarters-swiper .swiper-wrapper .swiper-slide .inner-swiper-slide .left-side-slide .city-details .address-contacts .address-contacts-row {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Cairo";
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 10px;
}
.head-quarters .quarters-swiper .swiper-wrapper .swiper-slide .inner-swiper-slide .left-side-slide .city-details .address-contacts .address-contacts-row a {
  color: black;
  text-decoration: none;
}
.head-quarters .quarters-swiper .swiper-wrapper .swiper-slide .inner-swiper-slide .left-side-slide .city-details .address-preview a {
  border-top: 1px solid #ecf0f3;
  padding: 0.8rem 0rem;
  display: flex;
  align-items: center;
  gap: 7px;
  position: relative;
  font-family: "Cairo";
  font-weight: 500;
  font-size: 12px;
  color: black;
  text-decoration: none;
}
.head-quarters .quarters-swiper .swiper-wrapper .swiper-slide .inner-swiper-slide .left-side-slide .city-details .address-preview a .view-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}
.head-quarters .quarters-swiper .swiper-wrapper .swiper-slide .inner-swiper-slide .right-side-slide {
  width: 50%;
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .head-quarters .quarters-swiper .swiper-wrapper .swiper-slide .inner-swiper-slide .right-side-slide {
    width: 100%;
  }
}
.head-quarters .quarters-swiper .swiper-wrapper .swiper-slide .inner-swiper-slide .right-side-slide iframe {
  width: 100%;
  height: 100%;
  border: 10px;
}

.footer {
  width: 95%;
  margin: 30px auto;
  margin-top: 13rem;
  padding: 2rem 2rem 0rem 2rem;
  background-color: var(--ternary-neutrals--1);
  border-radius: 20px;
  position: relative;
}
@media (max-width: 767px) {
  .footer {
    padding: 1rem 1rem 0rem 1rem;
    margin-bottom: 0px;
    margin-top: 0;
    width: 100%;
  }
}
.footer .border-icon {
  position: absolute;
  top: 0px;
  left: 0px;
}
.footer .footer-upper {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}
@media (max-width: 1024px) {
  .footer .footer-upper {
    flex-direction: column;
  }
}
.footer .footer-upper .footer-left-side {
  width: 33.3333333333%;
  position: relative;
  padding-left: 1rem;
  padding-top: 2rem;
  border-right: 1px solid #0f1b25;
  align-self: stretch;
}
@media (max-width: 1024px) {
  .footer .footer-upper .footer-left-side {
    width: 100%;
  }
}
.footer .footer-upper .footer-left-side .logo {
  width: 100px;
}
.footer .footer-upper .footer-left-side .protected {
  position: absolute;
  bottom: 2rem;
  left: -0.5rem;
}
@media (max-width: 1024px) {
  .footer .footer-upper .footer-left-side .protected {
    right: 1rem;
    top: 1rem;
    left: unset;
  }
}
.footer .footer-upper .footer-left-side p {
  color: #e4f1fe;
  font-family: "Cairo";
  font-size: 16px;
  line-height: 30px;
  margin-top: 2rem;
  width: 90%;
}
@media (max-width: 767px) {
  .footer .footer-upper .footer-left-side p {
    width: 100%;
  }
}
.footer .footer-upper .footer-middle {
  padding-left: 2rem;
  padding-top: 0.5rem;
  border-right: 1px solid #0f1b25;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .footer .footer-upper .footer-middle {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3rem;
  }
}
@media (max-width: 767px) {
  .footer .footer-upper .footer-middle {
    padding-left: 0px;
  }
}
.footer .footer-upper .footer-middle .middle-inner {
  display: flex;
  gap: 0.7rem;
  margin-bottom: 3rem;
}
@media (max-width: 1024px) {
  .footer .footer-upper .footer-middle .middle-inner {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .footer .footer-upper .footer-middle .middle-inner {
    width: 100%;
  }
}
.footer .footer-upper .footer-middle .middle-inner .heading-box p {
  font-family: saira-medium;
  color: #e4f1fe;
  font-size: 17px;
}
.footer .footer-upper .footer-middle .middle-inner .heading-box svg {
  margin-top: -10px;
}
.footer .footer-upper .footer-middle .middle-inner p.page {
  margin: 0.5rem 0rem;
}
.footer .footer-upper .footer-middle .middle-inner p.page a {
  font-family: "Cairo";
  font-size: 14px;
  text-decoration: none;
  color: #e4f1fe;
  font-weight: normal;
}
.footer .footer-upper .footer-middle .middle-inner p.page a:hover {
  color: var(--primary--color);
}
.footer .footer-upper .footer-right-side {
  width: 33.3333333333%;
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-right: 2rem;
}
@media (max-width: 767px) {
  .footer .footer-upper .footer-right-side {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (max-width: 1024px) {
  .footer .footer-upper .footer-right-side {
    width: 100%;
  }
}
.footer .footer-upper .footer-right-side .inner-box {
  display: flex;
  gap: 0.7rem;
  align-items: flex-start;
  color: #e4f1fe;
  border-bottom: 1px solid #19242e;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .footer .footer-upper .footer-right-side .inner-box .inner-right-box .heading-box {
    display: flex;
    gap: 0.5rem;
    align-items: flex-start;
  }
}
.footer .footer-upper .footer-right-side .inner-box .inner-right-box .heading-box p {
  font-family: saira-medium;
  color: #e4f1fe;
}
.footer .footer-upper .footer-right-side .inner-box .inner-right-box .heading-box svg {
  margin-top: -10px;
}
.footer .footer-upper .footer-right-side .inner-box .inner-right-box .heading-box .mobile-recieve-svg {
  display: none;
}
@media (max-width: 767px) {
  .footer .footer-upper .footer-right-side .inner-box .inner-right-box .heading-box .mobile-recieve-svg {
    display: block;
    margin-top: 0px;
  }
}
.footer .footer-upper .footer-right-side .inner-box .inner-right-box p.description {
  margin-top: 2rem;
  font-family: "Cairo";
  font-size: 14px;
  font-weight: 400;
}
.footer .footer-upper .footer-right-side .inner-box .inner-right-box .email-box {
  margin-top: 2.5rem;
  position: relative;
}
.footer .footer-upper .footer-right-side .inner-box .inner-right-box .email-box input {
  width: 100%;
  padding: 0.6rem 1rem;
  border-radius: 30px;
  border: 1px solid #19242e;
  outline: none;
  font-family: "Cairo";
  background-color: #19242e;
  color: white;
}
.footer .footer-upper .footer-right-side .inner-box .inner-right-box .email-box input::-moz-placeholder {
  color: #697177;
}
.footer .footer-upper .footer-right-side .inner-box .inner-right-box .email-box input::placeholder {
  color: #697177;
}
@media (max-width: 767px) {
  .footer .footer-upper .footer-right-side .inner-box .inner-right-box .email-box input {
    font-size: 12px;
  }
}
.footer .footer-upper .footer-right-side .inner-box .inner-right-box .email-box button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.5rem;
  border-radius: 20px;
  background-color: var(--primary--color);
  border: 1px solid var(--primary--color);
  padding: 0.2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: white;
}
@media (max-width: 767px) {
  .footer .footer-upper .footer-right-side .inner-box .inner-right-box .email-box button {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .footer .footer-upper .footer-right-side .inner-box .inner-left-box {
    display: none;
  }
}
.footer .footer-upper .footer-right-side .contact-us {
  color: #e4f1fe;
  border-bottom: 1px solid #19242e;
  padding-bottom: 2rem;
  padding-top: 1.5rem;
}
.footer .footer-upper .footer-right-side .contact-us .heading {
  display: flex;
  gap: 0.5rem;
  align-items: flex-start;
  margin-bottom: 1rem;
}
.footer .footer-upper .footer-right-side .contact-us .heading .contact-head p {
  font-family: saira-medium;
  color: #e4f1fe;
}
.footer .footer-upper .footer-right-side .contact-us .heading .contact-head svg {
  margin-top: -10px;
}
.footer .footer-upper .footer-right-side .contact-us .contact-row {
  margin-bottom: 1rem !important;
  display: flex;
  font-family: "Cairo";
  font-size: 14px;
  gap: 0.5rem;
}
.footer .footer-upper .footer-right-side .contact-us .contact-row a {
  text-decoration: none;
  color: #e4f1fe;
}
.footer .footer-upper .footer-right-side .contact-us .contact-row span {
  display: block;
}
.footer .footer-upper .footer-right-side .contact-us .contact-row svg {
  width: 40px;
}
.footer .footer-upper .footer-right-side .contact-us .social {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 2.5rem;
  margin-left: 1rem;
}
@media (max-width: 767px) {
  .footer .footer-upper .footer-right-side .contact-us .social {
    justify-content: center;
    gap: 2rem;
    margin-left: 0px;
  }
}
.footer .footer-upper .footer-right-side .contact-us .social svg {
  cursor: pointer;
}
.footer .footer-upper .footer-right-side .payment-method {
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #e4f1fe;
}
@media (max-width: 1024px) {
  .footer .footer-upper .footer-right-side .payment-method {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 767px) {
  .footer .footer-upper .footer-right-side .payment-method {
    display: block;
  }
}
.footer .footer-upper .footer-right-side .payment-method .payment-heading {
  display: flex;
  gap: 0.5rem;
}
@media (max-width: 1024px) {
  .footer .footer-upper .footer-right-side .payment-method .payment-heading {
    align-items: end;
    width: 45%;
  }
}
@media (max-width: 767px) {
  .footer .footer-upper .footer-right-side .payment-method .payment-heading {
    width: 100%;
    align-items: flex-start;
  }
}
.footer .footer-upper .footer-right-side .payment-method .payment-heading .payment-heading-text p {
  font-family: saira-medium;
  color: #e4f1fe;
}
.footer .footer-upper .footer-right-side .payment-method .payment-ways {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  .footer .footer-upper .footer-right-side .payment-method .payment-ways {
    justify-content: center;
    gap: 2rem;
  }
}
@media (max-width: 767px) {
  .footer .footer-upper .footer-right-side .payment-method .payment-ways {
    gap: 1rem;
  }
}
.footer .copyright {
  text-align: center;
  padding: 1rem;
  border-top: 1px solid #0f1b25;
  color: #e4f1fe;
  margin-top: 1rem;
  font-family: "Cairo";
  font-size: 12px;
  font-weight: 400;
}/*# sourceMappingURL=ContactUs.css.map */