@use "../styles/layout/variables.scss" as *;

P {
  margin-bottom: 0 !important;
}

.chat-icon {
  position: fixed;
  z-index: 4000;
  bottom: 2rem;
  left: 1rem;
  cursor: pointer;
  @include mobile {
    height: 50px;
    left: 5px;
  }
}
.top-arrow-icon {
  position: fixed;
  z-index: 4000;
  right: 2rem;
  bottom: 2rem;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: translateY(100px);
  @include mobile {
    right: 1rem;
  }
}
.top-arrow-icon.show {
  opacity: 1;
  transform: translateY(0);
}

.navigation-bar {
  width: 80%;
  margin: 30px auto;
  height: 65px;
  padding-left: 2.5rem;
  padding-right: 0.5rem;
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  border-radius: 35px;
  align-items: center;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.068);
  transition: background-color 05s ease;
  background-color: var(--natural-white);
  transition: box-shadow 0.3s ease;
  z-index: 1000;
  #navigation-menu-dropdown {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 0;
    width: 50%;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.068);
    @include mobile {
      width: 100%;
    }
    p {
      width: 50%;
      padding: 1rem 1rem 1rem 2rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      a {
        text-decoration: none;
        color: black;
        font-family: saira-regular;
      }
    }
  }
  #cities-dropdown,
  #categories-dropdown {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border-radius: 10px;
    width: 60%;
    border: 1px solid #a1a8ae;
    overflow: hidden;
    height: 350px;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    &::-webkit-scrollbar {
      width: 8px;
      height: 3px;
      border-radius: 10px;
      overflow: hidden;
      @include mobile {
        width: 2px;
      }
    }
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      padding: 1rem 0rem;
      overflow: hidden;
      border-radius: 10px;
      margin-block: 0.3rem;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #a1a8ae;
      border-radius: 10px;
      overflow: hidden;
      border: 2px solid #f1f1f1;
    }
    .city-row {
      display: flex;
      padding-left: 10px;
      align-items: center;
      gap: 0.5rem;
      border: 1px solid #ecf0f3;
      padding: 0.5rem 10px;
      img {
        width: 20px;
        height: 20px;
      }
      P {
        font-family: "Cairo";
        font-weight: 600;
      }
    }
    .categories-row {
      border: 1px solid #ecf0f3;
      padding: 0.5rem 10px;
      padding-left: 10px;
    }
  }
  .navigation-left-side {
    display: flex;
    gap: 2rem;
    .navigation-menu {
      display: none;
      a {
        font-family: saira-semiBold;
        text-decoration: none;
        @include mobileXS {
          font-size: 14px;
        }
      }
      svg {
        transition: 0.3s;
        margin-right: 0.7rem;
      }
      #navigation-menu-btn.rotated {
        transform: rotate(90deg);
      }
      @include tablet {
        align-self: center;
        align-items: center;
        display: flex;
      }
    }
    @include mobileXS {
      gap: 0.5rem;
    }
  }
  .navigation-right-side {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    .navbar-search-box {
      position: relative;
      .search-absolute-box {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 350px;
        height: 40px;
        display: none;
        border-radius: 40px;
        border: 1px solid #ecf0f3;
        @include mobile {
          width: 220px;
        }
        input {
          width: 100%;
          height: 100%;
          border: 1px solid #ecf0f3;
          outline-color: var(--primary--color);
          border-radius: 40px;
          padding: 0rem 0.7rem;
          @include mobile {
            font-size: 12px;
          }
        }
        svg {
          position: absolute;
          top: 50%;
          right: 0.8rem;
          transform: translateY(-50%);
        }
      }
    }
  }
  ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    height: 65px;
    align-items: center;
    gap: 2rem;
    position: relative;
    .active-link {
      color: var(--primary--color);
      font-family: saira-semiBold;
      border-bottom: 2px solid var(--primary--color);
    }
    a {
      color: var(--neutral-black);
      text-decoration: none;
      font-family: saira-regular;
      padding: 1rem 0rem;
    }
    @include customScreen {
      gap: 1.5rem;
    }
    @include tablet {
      display: none;
    }
  }
  svg {
    cursor: pointer;
  }
  @include customScreen {
    padding-left: 1rem;
  }
  @include mobile {
    width: 93%;
    padding-left: 1.5rem;
  }
  @include mobileXS {
    padding-left: 1rem;
  }
}
.navigation-bar.scrolled {
  transition: background-color 0.5s ease;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.068);
  background-color: rgba(236, 240, 243, 0.945);
}
.hero-section {
  width: 90%;
  margin: 150px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 40px;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(20, 20, 26, 0.712);
    // opacity: 0.5;
    z-index: 1;
    border-radius: 40px;
  }
  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 40px;
  }
  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    color: #fff;
    font-family: saira-semiBold;
    z-index: 2;
    text-align: center;
    @include mobileXS {
      font-size: 30px;
    }
  }
  .social-media {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    z-index: 2;
    background-color: #23292e;
    padding: 0.7rem 0.5rem;
    border-radius: 25px;
    svg {
      cursor: pointer;
    }
    @include mobile {
      bottom: 1rem;
      left: 50%;
      transform: translateX(-50%);
      flex-direction: row;
      top: unset;
      width: 80%;
      justify-content: space-evenly;
    }
  }
}
.form-section {
  width: 80%;
  border: 1px solid #a1a8ae;
  margin: auto;
  border-radius: 16px;
  position: relative;
  background-color: white;

  @include mobile {
    width: 90%;
  }
  .loader-top {
    position: absolute;
    left: -55px;
    top: -55px;
    z-index: -1;
    @include mobile {
      width: 40px;
      top: -55px;
      left: -15px;
    }
  }
  .loader-bottom {
    position: absolute;
    right: -55px;
    bottom: -55px;
    z-index: -1;
    @include mobile {
      width: 40px;
      bottom: -55px;
      right: -15px;
    }
  }
  .form-section-upper {
    padding: 3rem 0rem;
    .heading {
      display: flex;
      width: 93%;
      gap: 1rem;
      align-items: center;
      margin: auto;
      font-family: "Cairo";
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 1rem;
      @include mobile {
        flex-direction: column;
      }
    }
    .upper-row {
      width: 80%;
      display: flex;
      align-items: center;
      margin: auto;
      gap: 0.7rem;
      margin-bottom: 0.5rem;
      @include mobile {
        width: 95%;
        justify-content: space-between;
        align-items: flex-start;
      }
      p {
        font-size: 14px;
        font-family: "Cairo";
        font-weight: 400;
        color: #333d45;
        @include mobile {
          width: 90%;
        }
      }
      svg {
        @include mobile {
          width: 26px;
          height: 26px;
        }
        rect {
          @include mobile {
            width: 26px;
            height: 26px;
          }
        }
      }
    }
  }
  .form-container {
    background-color: var(--ternary-neutrals--1);
    padding-bottom: 2rem;
    border-radius: 0rem 0rem 16px 16px;
    p {
      padding: 2.5rem 1rem 2rem;
      color: #fff;
      font-family: saira-medium;
      text-align: center;
      font-size: 20px;
    }
    .form-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 2rem;
      @include mobile {
        flex-direction: column;
        padding: 0rem 1rem;
        gap: 1rem;
        margin-bottom: 1rem;
      }
      .form-row-item {
        width: 47%;
        display: flex;
        align-items: center;
        background-color: #19242e;
        padding: 0.5rem;
        border-radius: 10px;
        @include mobile {
          width: 100%;
        }
        input {
          width: 100%;
          background-color: #19242e;
          border: none;
          outline: none;
          caret-color: #a1a8ae;
          border-left: 1px solid #8c9196;
          padding-left: 0.5rem;
          color: #fff;
          font-family: "Cairo";
          font-weight: 500;
          font-size: 14px;
          &::placeholder {
            color: #8c9196;
          }
          @include mobile {
            font-size: 12px;
          }
        }
      }
    }
    .form-textarea {
      padding: 1rem 2rem;
      border-radius: 10px;
      @include mobile {
        padding: 1rem;
      }
      textarea {
        width: 100%;
        height: 200px;
        resize: none;
        background-color: #19242e;
        border: none;
        outline: none;
        padding: 1rem;
        caret-color: #a1a8ae;
        color: #fff;
        font-family: "Cairo";
        font-weight: 500;
        border-radius: 10px;
        font-size: 14px;
        &::placeholder {
          color: #8c9196;
        }
        @include mobile {
          font-size: 12px;
        }
      }
    }
    .form-submission {
      padding: 3rem 1rem 3rem 2rem;
      @include mobile {
        padding: 1rem;
      }
      .submit-item {
        position: relative;
        padding-left: 1.8rem;
        margin-bottom: 1rem;
        label {
          font-family: "Cairo";
          font-weight: 500;
          font-size: 14px;
          color: #ccced1;
          @include mobile {
            font-size: 12px;
          }
          a {
            color: #ccced1;
          }
        }
        .custom-checkbox {
          width: 20px;
          height: 20px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          border: none;
          background-color: #eaeef1;
          cursor: pointer;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          border-radius: 3px;

          input {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            opacity: 0;
            cursor: pointer;
            border: none;
            width: 100%;
            height: 100%;
          }

          .checkmark {
            position: absolute;
            left: 0%;
            transform: translateY(-50%);
            top: 50%;
            height: 20px;
            width: 20px;
            border-radius: 3px;
            border: 1px solid var(--Primary-Primary);
            background-color: #eaeef1;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color 0.3s;

            &::after {
              content: "";
              color: transparent;
            }
          }

          input:checked + .checkmark {
            background-color: var(--primary--color);
            &::after {
              content: "";
              position: absolute;
              display: block;
              left: 36%;
              top: 13%;
              transform: translateX(-50%);
              width: 6px;
              height: 12px;
              border: solid white;
              border-width: 0 2px 2px 0;
              transform: rotate(45deg);
            }
          }
        }
      }
    }
    .submit-button {
      width: fit-content;
      margin: auto;
      margin-top: 50px;
      position: relative;
      svg {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
      }
      input {
        background-color: var(--primary--color);
        color: #fff;
        text-transform: capitalize;
        border: none;
        padding: 0.7rem 6rem;
        border-radius: 35px;
        font-family: "Cairo";
        font-weight: 700;
      }
    }
  }
}
.head-quarters {
  width: 85%;
  margin: 14rem auto;
  position: relative;
  .absolute-location {
    position: absolute;
    top: 5%;
    right: 0px;
    @include mobile {
      height: 90px;
      top: 3%;
    }
  }
  .quarters-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    p:first-child {
      font-size: 32px;
      font-family: saira-extraBold;
      text-align: center;
    }

    p:nth-of-type(2) {
      font-size: 30px;
      font-family: saira-semiBold;

      text-align: center;
    }
    img {
      width: 70px;
      margin-top: 1rem;
    }
  }
  .quarters-description {
    width: 70%;
    text-align: center;
    margin: 50px auto;
    font-family: "Cairo";
    font-weight: 500;
    @include mobile {
      width: 100%;
    }
    .quarters-span {
      color: #f77b08;
      font-family: "Cairo";
      font-weight: bold;
      font-size: 18px;
    }
  }

  .quarters-swiper {
    display: flex;
    margin: 3rem 0rem;
    height: 340px;
    overflow: hidden;
    position: relative;
    @include tablet {
      height: 550px;
      width: 80%;
      margin: 3rem auto;
    }
    @include mobile {
      height: 1030px;
      width: 90%;
      padding-bottom: 5rem;
    }
    overflow: hidden;
    .navigation-pagination {
      position: relative;
      width: 5%;
      @include mobile {
        display: none;
      }
      .headquarter-pagination {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        @include mobile {
          display: none;
        }
        span {
          height: 16px;
          border-radius: 1px;
          width: 5px;
          margin: 2px 0rem;
        }
        .swiper-pagination-bullet-active {
          height: 24px;
          width: 6px;
        }
      }
      .quarter-navigation {
        position: relative;
        width: 100%;
        height: 100%;
        button {
          background-color: white;
          color: var(--primary--color);
          border-radius: 30px;
          border: 1px solid var(--primary--color);
          padding: 1rem 0.7rem;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          svg {
            position: absolute;
          }
          svg.down-hover {
            opacity: 0;
          }
          svg.up-hover {
            transform: rotate(180deg);
            opacity: 0;
          }
        }
        .quarter-up:hover {
          background-color: var(--primary--color);
          svg.up-hover {
            opacity: 1;
          }
          svg.up-arrow {
            opacity: 0;
          }
        }
        .quarter-down:hover {
          background-color: var(--primary--color);
          svg.down-hover {
            opacity: 1;
          }
          svg.down-arrow {
            opacity: 0;
          }
        }
        button.quarter-up {
          position: absolute;
          top: 2rem;
          left: 50%;
          transform: translateX(-50%);
        }
        button.quarter-down {
          position: absolute;
          bottom: 2rem;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    .navigation-pagination-mobile {
      position: absolute;
      width: 100%;
      left: 0;
      top: 230px;
      z-index: 15;
      display: none;
      @include mobile {
        display: flex;
      }
      .quarter-pagination {
        position: absolute;
        top: 10px;
        width: 50%;
        left: 50%;
        transform: translateX(-50%);
        margin: auto;
        display: flex;
        justify-content: center;
        span {
          width: 16px;
          height: 4px;
          border-radius: 1px;
          margin: 0px 2px;
        }
      }
      .quarter-navigation {
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
          background-color: #888c915b;
          backdrop-filter: blur(5px);
          border-radius: 25px;
          padding: 0.4rem 0.7rem;
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .swiper-wrapper {
      width: 95%;
      flex-direction: column;
      position: relative;

      @include mobile {
        flex-direction: row !important;
        width: 100%;
      }
      .swiper-slide {
        @include mobile {
          width: 100% !important;
          // margin: 0rem 30px;
        }
        .inner-swiper-slide {
          display: flex;
          height: 100%;
          align-items: center;
          justify-content: center;
          border-radius: 10px;
          overflow: hidden;
          gap: 5px;
          @include tablet {
            flex-direction: column;
          }
          .left-side-slide {
            display: flex;
            justify-content: flex-end;
            gap: 5px;
            width: 50%;
            height: 100%;
            @include tablet {
              width: 100%;
            }
            @include mobile {
              flex-direction: column;
            }
            .city-image {
              position: relative;
              height: 100%;
              width: 270px;
              border-radius: 10px 0px 0px 10px;
              overflow: hidden;

              &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.521);
                z-index: 10;
                border-radius: 10px 0px 0px 10px;
              }
              @include tablet {
                width: 350px;
              }
              @include mobile {
                width: 100%;
                border-radius: 10px 10px 0px 0px;
                min-height: 270px;
              }
              img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 10px 0px 0px 10px;
                @include mobile {
                  border-radius: 10px 10px 0px 0px;
                }
              }
              .city-name {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 10;
                font-family: saira-semiBold;
                color: white;
              }
            }
            .city-details {
              width: 270px;
              padding: 0.8rem;
              border: 1px solid #a1a8ae;
              padding-bottom: 0;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              @include tablet {
                width: 350px;
              }
              @include mobile {
                width: 100%;
              }
              .address-details {
                border: 1px dashed #a1a8ae;
                border-radius: 10px;
                padding: 3px;
                p.address {
                  padding: 0.7rem 0.5rem;
                  font-size: 12px;
                  font-family: "Cairo";
                  font-weight: 500;
                  color: black;
                }
                .address-details-upper {
                  position: relative;
                  display: flex;
                  align-items: center;
                  gap: 10px;
                  span {
                    color: var(--primary--color);
                    font-family: "Cairo";
                    font-weight: 700;
                  }
                  .copy {
                    position: absolute;
                    right: 7px;
                    top: 7px;
                    cursor: pointer;
                  }
                }
              }
              .address-contacts {
                border-top: 1px solid #ecf0f3;
                padding: 0.8rem 0rem;
                .address-contacts-row {
                  display: flex;
                  align-items: center;
                  gap: 8px;
                  font-family: "Cairo";
                  font-weight: 500;
                  font-size: 12px;
                  margin-bottom: 10px;
                  a {
                    color: black;
                    text-decoration: none;
                  }
                }
              }
              .address-preview {
                a {
                  border-top: 1px solid #ecf0f3;
                  padding: 0.8rem 0rem;
                  display: flex;
                  align-items: center;
                  gap: 7px;
                  position: relative;
                  font-family: "Cairo";
                  font-weight: 500;
                  font-size: 12px;
                  color: black;
                  text-decoration: none;
                  .view-arrow {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 15px;
                  }
                }
              }
            }
          }
          .right-side-slide {
            width: 50%;
            flex-grow: 1;
            height: 100%;
            overflow: hidden;
            @include tablet {
              width: 100%;
            }
            iframe {
              width: 100%;
              height: 100%;
              border: 10px;
            }
          }
        }
      }
    }
  }
}
.footer {
  width: 95%;
  margin: 30px auto;
  margin-top: 13rem;
  padding: 2rem 2rem 0rem 2rem;
  background-color: var(--ternary-neutrals--1);
  border-radius: 20px;
  position: relative;
  @include mobile {
    padding: 1rem 1rem 0rem 1rem;
    margin-bottom: 0px;
    margin-top: 0;
    width: 100%;
  }
  .border-icon {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .footer-upper {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    @include tablet {
      flex-direction: column;
    }
    .footer-left-side {
      width: calc(100% / 3);
      position: relative;
      padding-left: 1rem;
      padding-top: 2rem;
      border-right: 1px solid #0f1b25;
      align-self: stretch;
      @include tablet {
        width: 100%;
      }
      .logo {
        width: 100px;
      }
      .protected {
        position: absolute;
        bottom: 2rem;
        left: -0.5rem;
        @include tablet {
          right: 1rem;
          top: 1rem;
          left: unset;
        }
      }
      p {
        color: #e4f1fe;
        font-family: "Cairo";
        font-size: 16px;
        line-height: 30px;
        margin-top: 2rem;
        width: 90%;
        @include mobile {
          width: 100%;
        }
      }
    }
    .footer-middle {
      padding-left: 2rem;
      padding-top: 0.5rem;
      border-right: 1px solid #0f1b25;
      padding-right: 2rem;
      display: flex;
      flex-direction: column;
      @include tablet {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 3rem;
      }
      @include mobile {
        padding-left: 0px;
      }
      .middle-inner {
        display: flex;
        gap: 0.7rem;
        margin-bottom: 3rem;
        @include tablet {
          width: 50%;
        }
        @include mobile {
          width: 100%;
        }
        .heading-box {
          p {
            font-family: saira-medium;
            color: #e4f1fe;
            font-size: 17px;
          }
          svg {
            margin-top: -10px;
          }
        }
        p.page {
          margin: 0.5rem 0rem;
          a {
            font-family: "Cairo";
            font-size: 14px;
            text-decoration: none;
            color: #e4f1fe;
            font-weight: normal;
            &:hover {
              color: var(--primary--color);
            }
          }
        }
      }
    }
    .footer-right-side {
      width: calc(100% / 3);
      padding-left: 2rem;
      padding-top: 0.5rem;
      padding-right: 2rem;
      @include mobile {
        padding-left: 0px;
        padding-right: 0px;
      }
      @include tablet {
        width: 100%;
      }
      .inner-box {
        display: flex;
        gap: 0.7rem;
        align-items: flex-start;
        color: #e4f1fe;
        border-bottom: 1px solid #19242e;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        .inner-right-box {
          .heading-box {
            @include mobile {
              display: flex;
              gap: 0.5rem;
              align-items: flex-start;
            }
            p {
              font-family: saira-medium;
              color: #e4f1fe;
            }
            svg {
              margin-top: -10px;
            }
            .mobile-recieve-svg {
              display: none;
              @include mobile {
                display: block;
                margin-top: 0px;
              }
            }
          }
          p.description {
            margin-top: 2rem;
            font-family: "Cairo";
            font-size: 14px;
            font-weight: 400;
          }
          .email-box {
            margin-top: 2.5rem;
            position: relative;
            input {
              width: 100%;
              padding: 0.6rem 1rem;
              border-radius: 30px;
              border: 1px solid #19242e;
              outline: none;
              font-family: "Cairo";
              background-color: #19242e;
              color: white;
              &::placeholder {
                color: #697177;
              }
              @include mobile {
                font-size: 12px;
              }
            }
            button {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 0.5rem;
              border-radius: 20px;
              background-color: var(--primary--color);
              border: 1px solid var(--primary--color);
              padding: 0.2rem 1rem;
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 0.5rem;
              color: white;
              @include mobile {
                font-size: 12px;
              }
            }
          }
        }
        .inner-left-box {
          @include mobile {
            display: none;
          }
        }
      }
      .contact-us {
        color: #e4f1fe;
        border-bottom: 1px solid #19242e;
        padding-bottom: 2rem;
        padding-top: 1.5rem;
        .heading {
          display: flex;
          gap: 0.5rem;
          align-items: flex-start;
          margin-bottom: 1rem;
          .contact-head {
            p {
              font-family: saira-medium;
              color: #e4f1fe;
            }
            svg {
              margin-top: -10px;
            }
          }
        }
        .contact-row {
          margin-bottom: 1rem !important;
          display: flex;
          font-family: "Cairo";
          font-size: 14px;
          gap: 0.5rem;
          a {
            text-decoration: none;
            color: #e4f1fe;
          }
          span {
            display: block;
          }
          svg {
            width: 40px;
          }
        }
        .social {
          display: flex;
          gap: 1rem;
          align-items: center;
          margin-top: 2.5rem;
          margin-left: 1rem;
          @include mobile {
            justify-content: center;
            gap: 2rem;
            margin-left: 0px;
          }
          svg {
            cursor: pointer;
          }
        }
      }
      .payment-method {
        padding-top: 2rem;
        padding-bottom: 2rem;
        color: #e4f1fe;
        @include tablet {
          display: flex;
          justify-content: space-between;
        }
        @include mobile {
          display: block;
        }
        .payment-heading {
          display: flex;
          gap: 0.5rem;
          @include tablet {
            align-items: end;
            width: 45%;
          }
          @include mobile {
            width: 100%;
            align-items: flex-start;
          }
          .payment-heading-text {
            p {
              font-family: saira-medium;
              color: #e4f1fe;
            }
          }
        }
        .payment-ways {
          margin-top: 2rem;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          @include tablet {
            justify-content: center;
            gap: 2rem;
          }
          @include mobile {
            gap: 1rem;
          }
        }
      }
    }
  }
  .copyright {
    text-align: center;
    padding: 1rem;
    border-top: 1px solid #0f1b25;
    color: #e4f1fe;
    margin-top: 1rem;
    font-family: "Cairo";
    font-size: 12px;
    font-weight: 400;
  }
}
