@use "../styles/layout/variables.scss" as *;

P {
  margin-bottom: 0 !important;
}

.chat-icon {
  position: fixed;
  z-index: 4000;
  bottom: 2rem;
  left: 1rem;
  cursor: pointer;
}

.top-arrow-icon {
  position: fixed;
  z-index: 4000;
  right: 2rem;
  bottom: 2rem;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: translateY(100px);
  cursor: pointer;
}

.top-arrow-icon.show {
  opacity: 1;
  transform: translateY(0);
}

.navigation-bar {
  width: 80%;
  margin: 30px auto;
  height: 65px;
  padding-left: 2.5rem;
  padding-right: 0.5rem;
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  border-radius: 35px;
  align-items: center;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.068);
  transition: background-color 05s ease;
  background-color: var(--natural-white);
  transition: box-shadow 0.3s ease;
  z-index: 1000;

  #navigation-menu-dropdown {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 0;
    width: 50%;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.068);

    @include tablet {
      left: 50%;
      transform: translateX(-50%);
      width: 60%;
    }

    @include mobile {
      width: 100%;
    }

    p {
      width: 50%;
      padding: 1rem 1rem 1rem 2rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      a {
        text-decoration: none;
        color: black;
        font-family: saira-regular;
      }
    }
  }

  #cities-dropdown,
  #categories-dropdown {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border-radius: 10px;
    width: 60%;
    border: 1px solid #a1a8ae;
    overflow: hidden;
    height: 350px;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;

    &::-webkit-scrollbar {
      width: 8px;
      height: 3px;
      border-radius: 10px;
      overflow: hidden;

      @include mobile {
        width: 2px;
      }
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      padding: 1rem 0rem;
      overflow: hidden;
      border-radius: 10px;
      margin-block: 0.3rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #a1a8ae;
      border-radius: 10px;
      overflow: hidden;
      border: 2px solid #f1f1f1;
    }

    .city-row {
      display: flex;
      padding-left: 10px;
      align-items: center;
      gap: 0.5rem;
      border: 1px solid #ecf0f3;
      padding: 0.5rem 10px;
      cursor: pointer;

      img {
        width: 20px;
        height: 20px;
      }

      P {
        font-family: "Cairo";
        font-weight: 600;
      }
    }

    .categories-row {
      border: 1px solid #ecf0f3;
      padding: 0.5rem 10px;
      padding-left: 10px;
      cursor: pointer;
    }
  }

  .navigation-left-side {
    display: flex;
    gap: 2rem;

    .navigation-menu {
      display: none;

      a {
        font-family: saira-semiBold;
        text-decoration: none;
      }

      svg {
        transition: 0.3s;
        margin-right: 0.7rem;
      }

      #navigation-menu-btn.rotated {
        transform: rotate(90deg);
      }

      @include tablet {
        align-self: center;
        display: flex;
      }
    }

    @include mobileXS {
      gap: 1.5rem;
    }
  }

  .navigation-right-side {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .navbar-search-box {
      position: relative;

      .search-absolute-box {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 350px;
        height: 40px;
        display: none;
        border-radius: 40px;
        border: 1px solid #ecf0f3;

        @include mobile {
          width: 220px;
        }

        input {
          width: 100%;
          height: 100%;
          border: 1px solid #ecf0f3;
          outline-color: var(--primary--color);
          border-radius: 40px;
          padding: 0rem 0.7rem;

          @include mobile {
            font-size: 12px;
          }
        }

        svg {
          position: absolute;
          top: 50%;
          right: 0.8rem;
          transform: translateY(-50%);
        }
      }
    }
  }

  ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    height: 65px;
    align-items: center;
    gap: 2rem;
    position: relative;

    .active-link {
      color: var(--primary--color);
      font-family: saira-semiBold;
      border-bottom: 2px solid var(--primary--color);
    }

    a {
      color: var(--neutral-black);
      text-decoration: none;
      font-family: saira-regular;
      padding: 1rem 0rem;
    }

    @include customScreen {
      gap: 1.5rem;
    }

    @include tablet {
      display: none;
    }
  }

  svg {
    cursor: pointer;
  }

  @include customScreen {
    padding-left: 1rem;
  }

  @include mobile {
    width: 93%;
    padding-left: 1.5rem;
  }

  @include mobileXS {
    padding-left: 1rem;
  }

  @media (max-width: 1200px) and (min-width: 1025px) {
    width: 90%;
  }
}

.navigation-bar.scrolled {
  transition: background-color 0.5s ease;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.068);
  background-color: rgba(236, 240, 243, 0.945);
}

.backArrowBox {
  margin-top: 140px;
  display: flex;
  margin-left: 2rem;
  gap: 0.7rem;
  width: fit-content;
  background-color: #f9fafa;
  justify-content: center;
  padding-right: 2rem;
  border-radius: 50px;
  padding: 0.2rem 2rem 0.2rem 0rem;
  align-items: center;

  @include mobile {
    margin-left: 10px;
    padding-right: 1rem;
    width: 90%;
    justify-content: flex-start;

    svg:first-child {
      height: 100%;
    }

    font-size: 12px;
  }

  .boxContent {
    background-color: #f9fafa;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    .categoriesText {
      font-weight: 600;
      font-size: 12px;

      a {
        color: #a1a8ae;
        text-decoration: none;
      }
    }

    .maintenanceText {
      color: #333d45;
      font-family: "Cairo";
      font-weight: 600;
      font-size: 12px;
    }
  }
}

.course-options-mini {
  display: none;

  @include tablet {
    display: block;
    width: 75%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    p {
      font-family: saira-medium;
      font-size: 20px;
      text-align: center;
    }

    .options {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 2rem;

      button {
        width: calc((100% / 2) - 1rem);
        background-color: transparent;
        border: 1px solid #333D45;
        height: 50px;
        border-radius: 100px;
        font-family: "Cairo";
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;

        @include mobile {
          width: 100%;
        }
      }
    }
  }
}

.separator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
  width: 90%;
  margin: 5rem auto;
  overflow: hidden;

  svg {
    width: 100%;
  }

  @include mobile {
    svg:nth-child(2) {
      width: 50%;
    }
  }
}

.course-details-section {
  width: 90%;
  margin: 5rem auto;
  padding: 4rem 0rem;

  @include mobile {
    margin-bottom: 0;
    padding-top: 0rem;
  }

  .heading-box {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    align-items: center;
    justify-content: center;

    p:first-child {
      font-family: saira-extraBold;
      font-size: 32px;

      @include mobile {
        font-size: 24px;
      }
    }

    p:nth-child(2) {
      font-family: saira-medium;
      font-size: 32px;

      @include mobile {
        font-size: 24px;
      }
    }

    svg {
      margin-top: 5px;
    }
  }

  .course-details-container {
    display: flex;
    margin-top: 7rem;

    .course-details-left {
      width: 70%;
      border-right: 1px solid #A0A7AD;

      @include tablet {
        border-right: none;
        width: 100%;
      }

      .toggle-row {
        width: 95%;
        display: flex;

        @include tablet {
          width: 100%;
        }

        .toggle-item {
          text-align: center;
          width: calc(100% / 3);
          padding: 0.5rem 0rem 1.6rem;

          a {
            text-decoration: none;
            color: #333D45;
            font-family: saira-regular;
            font-size: 18px;
            height: 100%;
            padding: 0rem 0rem 1.6rem;
            width: 100%;
            display: inline-block;
            border-bottom: 3px solid #ECF0F3;
          }
        }

        .toggle-item:hover {
          a {
            color: #F77B08;
            font-family: saira-bold;
            transition: 0.3s all;
          }
        }

        .toggle-item.active {
          a {
            color: #F77B08;
            border-bottom: 3px solid #F77B08;
            font-family: saira-bold;
          }
        }
      }

      .toggle-boxes-container {
        margin-top: 1rem;
        width: 95%;

        @include tablet {
          width: 100%;
        }

        .toggle-box {
          position: relative;
          margin-bottom: 3rem;

          .toggle-arrow {
            position: absolute;
            right: 5px;
            top: 5px;
            cursor: pointer;
            transform: rotate(180deg);
            height: 35px;
            width: 35px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;

            &:hover {
              background-color: #dbdbdb89;
              transition: 0.3s;

              @include mobile {
                background-color: unset;
              }
            }

          }

          .arrow-active {
            transform: rotate(0deg);
            transition: 0.3s;
          }

          .toggle-box-head {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;

            p {
              font-family: saira-semiBold;
              font-size: 18px;

              @include mobile {
                width: 73%;
              }
            }
          }

          .toggle-content {
            padding-left: 3.5rem;
            margin-top: 0.7rem;

            p {
              color: #333D45;
              font-size: 14px;
              font-family: "Cairo";
              font-weight: 400;
            }
          }
        }


      }

      .toggle-boxes-container {
        display: none;
      }

      .toggle-boxes-container.active {
        display: block;
      }
    }

    .course-details-right {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      @include tablet {
        display: none;
      }

      .right-side-inner {
        width: 90%;
        flex-direction: column;
        display: flex;

        p {
          text-align: center;
          font-family: saira-medium;
          font-size: 20px;
        }

        .actions {
          margin-top: 2rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 1.5rem;

          button {
            width: 90%;
            background-color: transparent;
            border: 1px solid #333D45;
            height: 50px;
            border-radius: 100px;
            font-family: "Cairo";
            font-weight: 500;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;

            &:hover {
              background-color: #F9FAFA;
              transition: 0.3s;
            }
          }
        }

        .apply-btn {
          width: 90%;
          height: 52px;
          margin: 2.5rem auto;
          border-radius: 100px;
          background-color: #0884F7;
          color: #FFFFFF;
          border: 1px solid #0884F7;
          font-weight: 700;
          font-family: "Cairo";
        }
      }
    }
  }
}

.training-section {
  background-image: url(./Assets/Image-overlay.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 85%;
  margin: 10rem auto;
  padding: 3rem 0rem;
  padding-bottom: 2rem;

  @include tablet {
    width: 90%;
  }

  @include mobile {
    background-image: url(./Assets/bg-mobile.png);
    margin: 5rem auto;
    margin-bottom: 10rem;
  }

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: auto;

    .heading-left {
      color: #FFFFFF;
      font-family: saira-bold;
      font-size: 32px;

      @include mobile {
        font-size: 20px;
      }
    }

    .heading-right {
      color: #FFFFFF;
      font-family: saira-bold;
      font-size: 20px;
      background-color: #a0a7ad1d;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      height: 50px;
      width: 50px;
      border-radius: 17px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 3px solid #202B34;
    }
  }

  .training-box {
    width: 65%;
    margin: 3rem auto;
    padding: 0rem 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    max-height: 415px;
    overflow: auto;

    @include tablet {
      width: 90%;
    }

    @include mobile {
      width: 95%;
    }

    &::-webkit-scrollbar {
      width: 4px;
      height: 3px;
      border-radius: 10px;
      overflow: hidden;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
      padding: 1rem 0rem;
    }

    &::-webkit-scrollbar-thumb {
      background: #E4F1FE;
      border-radius: 10px;
    }

    a {
      width: calc((100% / 2) - 1rem);
      text-decoration: none;

      @include mobile {
        width: 100%;
      }

      .training-item {
        background-color: #ffffff15;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        color: #FFFFFF;
        border-radius: 4px;
        padding: 0.7rem 1rem;

        .training-date {
          text-align: center;
          font-size: 12px;
          font-family: "Cairo";
          font-weight: 600;
          margin-bottom: 15px;
        }

        .city-price {
          display: flex;
          justify-content: space-between;


          .city {
            font-size: 14px;
            font-family: "Cairo";
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 5px;

            img {
              width: 20px;
              height: 20px;
              border-radius: 50%;
            }
          }

          .price {
            font-size: 14px;
            font-family: "Cairo";
            font-weight: 700;
            padding-right: 10px;

            span {
              padding-right: 4px;
            }
          }
        }
      }
    }
  }

}



.category-main-section {
  width: 90%;
  margin: 5rem auto;
@include mobile {
  margin-bottom: 10rem;
}
  .header {
    .result-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #333d45;
      padding-bottom: 10px;

      div {
        color: #000c17;
        font-family: "Cairo";
        font-size: 18px;

        @include mobile {
          font-size: 16px;
        }

        .result-number {
          color: #e47107;
          font-weight: 700;
        }
      }

      div:last-child {
        cursor: pointer;
      }
    }

    .sorting {
      display: flex;

      p {
        background-color: #f9fafa;
        cursor: pointer;
      }

      p:first-child {
        padding: 0.2rem 1rem;
        border-bottom-left-radius: 10px;
      }

      p:last-child {
        border-bottom-right-radius: 10px;
        padding: 0.2rem 1rem;
      }

      p.active {
        background-color: #333d45;
        color: #fff;
      }
    }
  }

  .categories-container {
    width: 100%;
    display: flex;

    justify-content: space-between;
    margin-top: 2rem;

    .categories-left-side {
      width: 69%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      height: auto;
      overflow: visible;

      /* Default state */
      @include tablet {
        width: 100%;
      }

      .categories-row {
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0rem;
        background-color: #f9fafa;
        padding-right: 1rem;
        border-radius: 8px;
        padding-left: 1rem;
        height: 65px;
        cursor: pointer;
        font-family: "Cairo";

        &:hover {
          background-color: #f0f8ff;
          transition: 0.3s ease;
        }

        @include tablet {
          width: 100%;
        }

        @include mobile {
          flex-direction: column;
          gap: 1.5rem;
          height: auto;
        }

        .course-name {
          font-size: 14px;
          font-weight: 600;
        }

        .category-row-right {
          height: 100%;
          display: flex;
          gap: 2rem;

          @include mobile {
            flex-direction: column;
            width: 100%;
          }

          .code-duration {
            display: flex;
            align-items: center;
            border-left: 1px solid #c0c4c8;
            border-right: 1px solid #c0c4c8;

            @include mobile {
              border: none;
              justify-content: center;
            }

            p {
              padding: 0rem 1.2rem;
              height: fit-content;
              font-size: 14px;
              font-weight: 500;
            }

            p:first-child {
              border-right: 1px solid #c0c4c8;
            }
          }

          .location {
            display: flex;
            align-items: center;
            gap: 1rem;

            @include mobile {
              justify-content: center;
            }

            p {
              font-size: 14px;
              font-weight: 400;

              @include mobile {
                color: #0884f7;
              }
            }

            svg {
              height: 100%;

              path {
                @include mobile {
                  fill: #0884f7;
                }
              }
            }
          }
        }

        .absolute-arrow {
          display: none;
        }
      }

      .categories-row.active {
        background-color: #e4f1fe;
        position: relative;

        .absolute-arrow {
          display: flex;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 102%;

          @include tablet {
            display: none;
          }
        }

        .location p {
          color: #0884f7;
          font-weight: 700;
        }

        .location svg path {
          fill: #0884f7;
        }
      }
    }

    .categories-right-side {
      width: 30%;
      border: 1px solid #333d45;
      border-radius: 8px;
      height: 790px;
      overflow: auto;

      &::-webkit-scrollbar {
        width: 10px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
        height: 95%;
        padding: 1rem 0rem;
        margin-block: 5px;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #a1a8ae;
        border-radius: 15px;
        height: 95%;
        width: 4px;
        border: 3px solid #f1f1f1;
        transition: 0.2s;
      }

      &::-webkit-scrollbar-thumb:hover {
        border: 2px solid #f1f1f1;
        ;
      }

      @include tablet {
        display: none;
      }

      .heading {
        text-align: center;
        padding: 1rem;
        font-family: saira-medium;
        border-bottom: 1px solid #333d45;

        span {
          color: #e47107;
          font-family: saira-semiBold;
        }
      }

      .available-cities {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 0.6rem 0.5rem;

        a {
          text-decoration: none;
          color: inherit;

          .city-box {
            border: 1px solid #ecf0f3;
            border-radius: 4px;

            .course-date {
              display: flex;
              justify-content: center;
              gap: 0.3rem;
              padding: 0.5rem;
              font-family: "Cairo";
              font-weight: 600;
              font-size: 12px;
            }

            .city-row {
              display: flex;
              justify-content: space-between;
              padding: 0.5rem;

              .city {
                display: flex;
                gap: 0.5rem;
                align-items: center;
                padding-left: 0.5rem;

                img {
                  width: 20px;
                  height: 20px;
                  border-radius: 50%;
                }

                span {
                  font-family: "Cairo";
                  font-weight: 500;
                  font-size: 14px;
                }
              }

              .price {
                font-weight: 700;
                padding-right: 0.7rem;
              }
            }
          }
        }
      }
    }
  }

  .pagination {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 2rem;

    @include tablet {
      margin: 2rem auto;
    }

    .back {
      display: flex;
      align-items: center;
      gap: 5px;

      a:first-child {
        background-color: #f3f5f7;
        width: 28px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
          border: none;
          width: 100%;
          height: 100%;
          background-color: #f3f5f7;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      a:last-child {
        background-color: #f3f5f7;
        width: 40px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
          border: none;
          width: 100%;
          height: 100%;
          background-color: #f3f5f7;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  .next {
    display: flex;
    align-items: center;
    gap: 5px;



    a:first-child {
      background-color: #f3f5f7;
      width: 40px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        border: none;
        width: 100%;
        height: 100%;
        background-color: #f3f5f7;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    a:last-child {
      background-color: #f3f5f7;
      width: 28px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        border: none;
        width: 100%;
        height: 100%;
        background-color: #f3f5f7;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

  }

  .pages {
    font-family: "Cairo";
    display: flex;
    gap: 2px;

    span:first-child {
      font-weight: 700;
    }

    span:nth-child(2) {
      color: #a1a8ae;
    }

    span:last-child {
      font-weight: 600;
      color: #a1a8ae;
    }
  }
}


.clickable-ovelay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 102200;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  display: none;

  .clickable-ovelay-container {
    background-color: white;
    width: 80%;
    height: 80vh;
    margin: 80px auto;
    position: relative;
    border-radius: 12px;

    // padding-bottom: 2rem;
    .main-header {
      text-align: center;
      padding: 2rem 3rem;
      color: #0884F7;
      font-family: "Cairo";
      font-weight: 700;
      border-bottom: 1px solid #A1A8AE;

      @include mobile {
        padding: 2rem 1rem;
      }
    }

    button {
      border-radius: 50%;
      height: 56px;
      width: 56px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #EA2A2A;
      position: absolute;
      top: -1.5rem;
      right: -1.5rem;
      border: none;
    }

    .overlay-container-boxes {
      padding-bottom: 2rem;

      .heading {
        text-align: center;
        padding: 3rem 0rem 2rem 0rem;
        font-family: saira-medium;

        span {
          color: #e47107;
          font-family: saira-bold;
          padding-right: 5px;
        }
      }

      .overlay-container-box {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 0rem 2rem;
        max-height: 350px;
        overflow: auto;

        @include mobile {
          height: 400px;
        }

        a {
          width: calc(50% - 0.7rem);
          text-decoration: none;
          color: inherit;
          
          @include mobile {
            width: 100%;
          }
          .city-item {

            border-radius: 5px;
            border: 1px solid #ECF0F3;
            padding: 1rem 0.7rem;
            display: flex;
            flex-direction: column;
            gap: 7px;
            .date {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 5px;

              span {
                font-size: 12px;
                font-family: "Cairo";
                font-weight: 600;
              }
            }

            .city-name-salary {
              display: flex;
              justify-content: space-between;
              align-items: center;

              .city-name {
                display: flex;
                align-items: center;
                gap: 8px;

                img {
                  width: 20px;
                  height: 20px;
                  border-radius: 50%
                }

                span {
                  font-size: 14px;
                  font-family: "Cairo";
                  font-weight: 500;
                }
              }

              .price {
                font-family: "Cairo";
                font-weight: 700;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}




.footer {
  width: 95%;
  margin: 30px auto;
  margin-top: 13rem;
  padding: 2rem 2rem 0rem 2rem;
  background-color: var(--ternary-neutrals--1);
  border-radius: 20px;
  position: relative;

  @include mobile {
    padding: 1rem 1rem 0rem 1rem;
    margin-bottom: 0px;
    margin-top: 0;
    width: 100%;
  }

  .border-icon {
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .footer-upper {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;

    @include tablet {
      flex-direction: column;
    }

    .footer-left-side {
      width: calc(100% / 3);
      position: relative;
      padding-left: 1rem;
      padding-top: 2rem;
      border-right: 1px solid #0f1b25;
      align-self: stretch;

      @include tablet {
        width: 100%;
      }

      .logo {
        width: 100px;
      }

      .protected {
        position: absolute;
        bottom: 2rem;
        left: -0.5rem;

        @include tablet {
          right: 1rem;
          top: 1rem;
          left: unset;
        }
      }

      p {
        color: #e4f1fe;
        font-family: "Cairo";
        font-size: 16px;
        line-height: 30px;
        margin-top: 2rem;
        width: 90%;

        @include mobile {
          width: 100%;
        }
      }
    }

    .footer-middle {
      padding-left: 2rem;
      padding-top: 0.5rem;
      border-right: 1px solid #0f1b25;
      padding-right: 2rem;
      display: flex;
      flex-direction: column;

      @include tablet {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 3rem;
      }

      @include mobile {
        padding-left: 0px;
      }

      .middle-inner {
        display: flex;
        gap: 0.7rem;
        margin-bottom: 3rem;

        @include tablet {
          width: 50%;
        }

        @include mobile {
          width: 100%;
        }

        .heading-box {
          p {
            font-family: saira-medium;
            color: #e4f1fe;
            font-size: 17px;
          }

          svg {
            margin-top: -10px;
          }
        }

        p.page {
          margin: 0.5rem 0rem;

          a {
            font-family: "Cairo";
            font-size: 14px;
            text-decoration: none;
            color: #e4f1fe;
            font-weight: normal;

            &:hover {
              color: var(--primary--color);
            }
          }
        }
      }
    }

    .footer-right-side {
      width: calc(100% / 3);
      padding-left: 2rem;
      padding-top: 0.5rem;
      padding-right: 2rem;

      @include mobile {
        padding-left: 0px;
        padding-right: 0px;
      }

      @include tablet {
        width: 100%;
      }

      .inner-box {
        display: flex;
        gap: 0.7rem;
        align-items: flex-start;
        color: #e4f1fe;
        border-bottom: 1px solid #19242e;
        padding-bottom: 2rem;
        margin-bottom: 2rem;

        .inner-right-box {
          .heading-box {
            @include mobile {
              display: flex;
              gap: 0.5rem;
              align-items: flex-start;
            }

            p {
              font-family: saira-medium;
              color: #e4f1fe;
            }

            svg {
              margin-top: -10px;
            }

            .mobile-recieve-svg {
              display: none;

              @include mobile {
                display: block;
                margin-top: 0px;
              }
            }
          }

          p.description {
            margin-top: 2rem;
            font-family: "Cairo";
            font-size: 14px;
            font-weight: 400;
          }

          .email-box {
            margin-top: 2.5rem;
            position: relative;

            input {
              width: 100%;
              padding: 0.6rem 1rem;
              border-radius: 30px;
              border: 1px solid #19242e;
              outline: none;
              font-family: "Cairo";
              background-color: #19242e;
              color: white;

              &::placeholder {
                color: #697177;
              }

              @include mobile {
                font-size: 12px;
              }
            }

            button {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 0.5rem;
              border-radius: 20px;
              background-color: var(--primary--color);
              border: 1px solid var(--primary--color);
              padding: 0.2rem 1rem;
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 0.5rem;
              color: white;

              @include mobile {
                font-size: 12px;
              }
            }
          }
        }

        .inner-left-box {
          @include mobile {
            display: none;
          }
        }
      }

      .contact-us {
        color: #e4f1fe;
        border-bottom: 1px solid #19242e;
        padding-bottom: 2rem;
        padding-top: 1.5rem;

        .heading {
          display: flex;
          gap: 0.5rem;
          align-items: flex-start;
          margin-bottom: 1rem;

          .contact-head {
            p {
              font-family: saira-medium;
              color: #e4f1fe;
            }

            svg {
              margin-top: -10px;
            }
          }
        }

        .contact-row {
          margin-bottom: 1rem !important;
          display: flex;
          font-family: "Cairo";
          font-size: 14px;
          gap: 0.5rem;

          a {
            text-decoration: none;
            color: #e4f1fe;
          }

          span {
            display: block;
          }

          svg {
            width: 40px;
          }
        }

        .social {
          display: flex;
          gap: 1rem;
          align-items: center;
          margin-top: 2.5rem;
          margin-left: 1rem;

          @include mobile {
            justify-content: center;
            gap: 2rem;
            margin-left: 0px;
          }

          svg {
            cursor: pointer;
          }
        }
      }

      .payment-method {
        padding-top: 2rem;
        padding-bottom: 2rem;
        color: #e4f1fe;

        @include tablet {
          display: flex;
          justify-content: space-between;
        }

        @include mobile {
          display: block;
        }

        .payment-heading {
          display: flex;
          gap: 0.5rem;

          @include tablet {
            align-items: end;
            width: 45%;
          }

          @include mobile {
            width: 100%;
            align-items: flex-start;
          }

          .payment-heading-text {
            p {
              font-family: saira-medium;
              color: #e4f1fe;
            }
          }
        }

        .payment-ways {
          margin-top: 2rem;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          @include tablet {
            justify-content: center;
            gap: 2rem;
          }

          @include mobile {
            gap: 1rem;
          }
        }
      }
    }
  }

  .copyright {
    text-align: center;
    padding: 1rem;
    border-top: 1px solid #0f1b25;
    color: #e4f1fe;
    margin-top: 1rem;
    font-family: "Cairo";
    font-size: 12px;
    font-weight: 400;
  }
}