@use "./layout/_variables.scss" as *;

.navigation-bar {
  width: 80%;
  margin: 30px auto;
  height: 65px;
  padding-left: 2.5rem;
  display: flex;
  // justify-content: center;
  border-radius: 35px;
  align-items: center;
  background-color: var(--ternary-neutrals--4);

  .navigation-logo {
    margin-right: 2rem;
  }

  ul {
    display: flex;
    margin: 0;
    list-style: none;
    gap: 2rem;

    a {
      color: var(--neutral-black);
      text-decoration: none;
      font-family: saira-regular;
    }
  }
}
