* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

@font-face {
  font-family: saira-extraBold;
  src: url(../fonts/saira/static/Saira-ExtraBold.ttf);
}
@font-face {
  font-family: saira-bold;
  src: url(../fonts/saira/static/Saira-Bold.ttf);
}
@font-face {
  font-family: saira-semiBold;
  src: url(../fonts/saira/static/Saira-SemiBold.ttf);
}
@font-face {
  font-family: saira-medium;
  src: url(../fonts/saira/static/Saira-Medium.ttf);
}
@font-face {
  font-family: saira-regular;
  src: url(../fonts/saira/static/Saira-Regular.ttf);
}
@font-face {
  font-family: cairo-Bold;
  src: url(../fonts/Cairo/Cairo-Bold.ttf);
}
@font-face {
  font-family: cairo-semiBold;
  src: url(../fonts/Cairo/Cairo-SemiBold.ttf);
}
:root {
  --neutral-black: #000c17;
  --primary--color: #0884f7;
  --secondary--color: #f77b08;
  --ternary-neutrals--1: #000c17;
  --ternary-neutrals--2: #333d45;
  --ternary-neutrals--3: #a1a8ae;
  --ternary-neutrals--4: #ecf0f3;
  --ternary-neutrals--5: #f9fafa;
  --natural--white: #ffffff;
}

P {
  margin-bottom: 0 !important;
}

.navigation-bar {
  width: 80%;
  margin: 30px auto;
  height: 65px;
  padding-left: 2.5rem;
  padding-right: 0.5rem;
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  border-radius: 35px;
  align-items: center;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.068);
  transition: background-color 5s ease;
  background-color: var(--natural-white);
  transition: box-shadow 0.3s ease;
  z-index: 1000;
}
.navigation-bar .navigation-left-side {
  display: flex;
  gap: 2rem;
}
.navigation-bar .navigation-left-side .navigation-menu {
  display: none;
}
.navigation-bar .navigation-left-side .navigation-menu a {
  font-family: saira-semiBold;
  text-decoration: none;
}
@media (max-width: 1024px) {
  .navigation-bar .navigation-left-side .navigation-menu {
    align-self: center;
    display: flex;
  }
}
@media (max-width: 420px) {
  .navigation-bar .navigation-left-side {
    gap: 1.5rem;
  }
}
.navigation-bar ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  height: 65px;
  align-items: center;
  gap: 2rem;
}
.navigation-bar ul .active-link {
  color: var(--primary--color);
  font-family: saira-semiBold;
  border-bottom: 2px solid var(--primary--color);
}
.navigation-bar ul a {
  color: var(--neutral-black);
  text-decoration: none;
  font-family: saira-regular;
  padding: 1rem 0rem;
}
@media (min-width: 1025px) and (max-width: 1135px) {
  .navigation-bar ul {
    gap: 1.5rem;
  }
}
@media (max-width: 1024px) {
  .navigation-bar ul {
    display: none;
  }
}
.navigation-bar svg {
  cursor: pointer;
}
@media (min-width: 1025px) and (max-width: 1135px) {
  .navigation-bar {
    padding-left: 1rem;
  }
}
@media (max-width: 767px) {
  .navigation-bar {
    width: 93%;
    padding-left: 1.5rem;
  }
}
@media (max-width: 420px) {
  .navigation-bar {
    padding-left: 1rem;
  }
}

.navigation-bar.scrolled {
  transition: background-color 0.5s ease;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.068);
  background-color: rgba(236, 240, 243, 0.945);
}

.hero-section {
  position: relative;
  width: 85%;
  height: 550px;
  overflow: hidden;
  margin: 120px auto;
  margin-bottom: 2rem;
  border-radius: 35px;
}
.hero-section .content-overlay {
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.hero-section .content-overlay h1 {
  color: #ffffff;
  font-family: saira-semiBold;
  font-size: 50px;
  width: 100%;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 767px) {
  .hero-section .content-overlay h1 {
    font-size: 29px;
  }
}
@media (max-width: 420px) {
  .hero-section .content-overlay h1 {
    font-size: 28px;
  }
}
.hero-section .content-overlay p {
  color: #ffffff;
  font-family: saira-semiBold;
  font-size: 32px;
}
@media (max-width: 767px) {
  .hero-section .content-overlay p {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .hero-section .content-overlay {
    top: 40px;
    white-space: nowrap;
  }
}
.hero-section .mySwiper {
  width: 100%;
  height: 100%;
}
.hero-section .mySwiper .swiper-slide {
  text-align: center;
  font-size: 18px;
}
.hero-section .mySwiper .swiper-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.555);
}
.hero-section .mySwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-section .mySwiper .swiper-slide .hero-slide-content {
  width: 89%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.hero-section .mySwiper .swiper-slide .hero-slide-content h3 {
  color: var(--natural--white);
  font-family: "Cairo";
  font-size: 40px;
  font-weight: 600;
  text-transform: capitalize;
}
@media (max-width: 767px) {
  .hero-section .mySwiper .swiper-slide .hero-slide-content h3 {
    font-size: 23px;
  }
}
.hero-section .mySwiper .swiper-slide .hero-slide-content p {
  font-family: "Cairo";
  text-transform: capitalize;
  color: var(--natural--white);
  font-size: 30px;
}
@media (max-width: 767px) {
  .hero-section .mySwiper .swiper-slide .hero-slide-content p {
    font-size: 18px;
  }
}
.hero-section .mySwiper .swiper-slide .hero-slide-content button {
  margin-top: 1rem;
  background-color: var(--primary--color);
  border: none;
  border-radius: 35px;
  color: var(--ternary-neutrals--5);
  padding: 0.6rem 2.4rem;
  font-family: saira-semiBold;
  display: flex;
  gap: 0.8rem;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 7px rgba(8, 131, 247, 0.315);
}
@media (max-width: 767px) {
  .hero-section .mySwiper .swiper-slide .hero-slide-content {
    padding-bottom: 3rem;
  }
}
.hero-section .swiper-pagination {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  gap: 2px;
}
.hero-section .swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet,
.hero-section .swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  height: 25px;
  border-radius: 1px;
  width: 5px !important;
  background: var(--swiper-pagination-bullet-inactive-color, #fff);
  margin: 0;
}
.hero-section .swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet-active {
  border-radius: 1px;
  width: 7px !important;
  background: var(--swiper-pagination-bullet-inactive-color, #0884f7);
}
.hero-section .swiper-button-prev {
  position: absolute;
  right: 10px !important;
  left: unset !important;
  bottom: unset !important;
  top: 30% !important;
}
.hero-section .swiper-button-prev::after {
  content: "";
}
@media (max-width: 767px) {
  .hero-section .swiper-button-prev {
    display: none;
  }
}
.hero-section .swiper-button-next {
  position: absolute;
  right: 10px !important;
  left: unset !important;
  bottom: 23% !important;
  top: unset !important;
}
.hero-section .swiper-button-next::after {
  content: "";
}
@media (max-width: 767px) {
  .hero-section .swiper-button-next {
    display: none;
  }
}
.hero-section .swiper-pagination {
  right: 20px !important;
}
@media (max-width: 767px) {
  .hero-section .swiper-pagination {
    right: 10px !important;
    gap: 5px;
  }
}
.hero-section .social-media {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 40px;
  background-image: url("../assets/social-media/BG.svg");
  background-size: cover;
  padding: 0.7rem 1.5rem;
}
@media (max-width: 767px) {
  .hero-section .social-media {
    flex-direction: row;
    background-image: url("../assets/social-media/BG2.svg");
    background-size: cover;
    padding: 0.4rem 0rem;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    top: unset;
    width: 80%;
    justify-content: center;
  }
}
@media (max-width: 420px) {
  .hero-section .social-media {
    width: 85%;
  }
}
@media (max-width: 380px) {
  .hero-section .social-media {
    width: 90%;
  }
}
@media (max-width: 767px) {
  .hero-section {
    width: 90%;
  }
}

.hero-search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14rem 0rem 10rem;
  z-index: 10;
  position: relative;
}
.hero-search-form .circle1 {
  position: absolute;
  top: 100%;
  left: 0;
}
@media (max-width: 767px) {
  .hero-search-form .circle1 {
    width: 120px;
    top: 99% !important;
  }
}
.hero-search-form .circle2 {
  position: absolute;
  top: 99%;
  transform: rotate(-10deg);
  left: 6%;
}
@media (max-width: 767px) {
  .hero-search-form .circle2 {
    width: 140px;
    left: 7%;
  }
}
@media (max-width: 1024px) {
  .hero-search-form {
    padding: 6rem 0rem;
  }
}
@media (max-width: 1024px) {
  .hero-search-form .magnifier {
    display: none;
  }
}
.hero-search-form .search-container {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .hero-search-form .search-container {
    flex-direction: column;
    position: static;
    top: unset;
    left: unset;
    transform: none;
    width: 90%;
  }
}
.hero-search-form .search-container .search-left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  margin-bottom: 2rem;
}
@media (max-width: 1024px) {
  .hero-search-form .search-container .search-left-side {
    width: 100%;
  }
}
.hero-search-form .search-container .search-left-side h3 {
  position: relative;
  margin-bottom: 2rem;
}
.hero-search-form .search-container .search-left-side h3 img {
  position: absolute;
  top: 100%;
  left: 0;
}
.hero-search-form .search-container .search-right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  padding-bottom: 2rem;
  border-radius: 40px;
  border: none;
}
@media (max-width: 1024px) {
  .hero-search-form .search-container .search-right-side {
    width: 100%;
  }
}
.hero-search-form .search-container .search-right-side form {
  background-image: url(../assets/form-search/form-bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding: 3rem 1.5rem;
  z-index: 20;
}
@media (max-width: 767px) {
  .hero-search-form .search-container .search-right-side form {
    background-image: url(../assets/form-search/FilteringAreaBG.png);
  }
}
.hero-search-form .search-container .search-right-side form input {
  width: 100%;
  margin-bottom: 1rem;
  border: none;
  outline: none;
  padding: 0.8rem 1rem;
  background-color: #f9fafa;
  border-radius: 10px;
}
.hero-search-form .search-container .search-right-side form div {
  position: relative;
}
.hero-search-form .search-container .search-right-side form div select {
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
  border: none;
  outline: none;
  padding: 0.8rem 1rem;
  background-color: #f9fafa;
  padding-right: 2rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  background-image: url("../assets/form-search/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  border-radius: 10px;
}
.hero-search-form .search-container .search-right-side form div select option {
  background-color: #f9fafa; /* Default option background */
  color: var(--neutral-black);
}
.hero-search-form .search-container .search-right-side form div select option:disabled:checked {
  background-color: #f9fafa;
  color: gray;
  color: var(--ternary-neutrals--3);
}
.hero-search-form .search-container .search-right-side form div.timing {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
}
.hero-search-form .search-container .search-right-side form div.timing .duration {
  width: calc(33.3333333333% - 5px);
}
@media (max-width: 767px) {
  .hero-search-form .search-container .search-right-side form div.timing .duration {
    width: 100%;
  }
}
.hero-search-form .search-container .search-right-side form div.timing .year,
.hero-search-form .search-container .search-right-side form div.timing .month {
  width: calc(33.3333333333% - 5px);
}
@media (max-width: 767px) {
  .hero-search-form .search-container .search-right-side form div.timing .year,
  .hero-search-form .search-container .search-right-side form div.timing .month {
    width: calc(50% - 5px);
  }
}
.hero-search-form .search-container .search-right-side div.search {
  background-color: #000c17;
  height: 90px;
  margin-top: -25px;
  border-radius: 0px 0px 40px 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 1rem;
}
.hero-search-form .search-container .search-right-side div.search button {
  border: none;
  background-color: #000c17;
  color: white;
  font-family: saira-semiBold;
  cursor: pointer;
}
.hero-search-form .search-container .search-right-side div.search button img {
  margin-right: 0.4rem;
  margin-bottom: 0.2rem;
}
.hero-search-form .search-container .search-right-side div.search button span {
  font-size: 24px;
}

.coming-courses {
  background-color: #000c17;
  padding-bottom: 10rem;
  position: relative;
}
.coming-courses .upper {
  position: absolute;
  top: 30px;
  right: 40px;
}
@media (max-width: 767px) {
  .coming-courses .upper {
    right: 10px;
  }
}
.coming-courses .down {
  position: absolute;
  bottom: 30px;
  left: 40px;
}
@media (max-width: 767px) {
  .coming-courses .down {
    left: 10px;
    bottom: 10px;
  }
}
.coming-courses .heading-container {
  padding: 4rem 0rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  position: relative;
}
.coming-courses .heading-container .stars {
  position: absolute;
  top: 55%;
  right: 20%;
  width: 30px;
}
.coming-courses .heading-container p:first-child {
  font-family: saira-bold;
  font-size: 30px;
}
.coming-courses .heading-container p {
  font-size: 25px;
}
.coming-courses .heading-container .description {
  margin-top: 3rem;
  font-size: 15px;
  font-weight: 500;
}
.coming-courses .heading-container img {
  width: 100px;
}
.coming-courses .swiper-container {
  width: 70% !important;
  margin: auto;
  width: 300px;
  color: #fff;
  overflow: hidden;
  position: relative;
}
@media (max-width: 767px) {
  .coming-courses .swiper-container {
    width: 85% !important;
  }
}
.coming-courses .swiper-container .swiper-wrapper {
  flex-direction: row !important;
}
.coming-courses .swiper-container .swiper-wrapper .swiper-box {
  cursor: pointer;
  width: 300px;
  background-color: #000c17;
  border-radius: 20px;
  overflow: hidden;
}
.coming-courses .swiper-container .swiper-wrapper .swiper-box .swiper-image {
  border-radius: 20px 20px 0px 0px;
  height: 160px;
  overflow: hidden;
  position: relative;
}
.coming-courses .swiper-container .swiper-wrapper .swiper-box .swiper-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.coming-courses .swiper-container .swiper-wrapper .swiper-box .swiper-image .image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 12, 23, 0.6431372549);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  transition: 0.3s ease;
  opacity: 0;
}
.coming-courses .swiper-container .swiper-wrapper .swiper-box .swiper-image .image-overlay p {
  font-family: saira-medium;
}
.coming-courses .swiper-container .swiper-wrapper .swiper-box .swiper-inner {
  padding: 1rem 1px 0rem;
}
.coming-courses .swiper-container .swiper-wrapper .swiper-box .swiper-inner p {
  font-family: saira-regular;
  font-size: 14px;
  margin-bottom: 2rem !important;
}
.coming-courses .swiper-container .swiper-wrapper .swiper-box .swiper-inner .duration span {
  font-size: 12px;
  font-family: saira-regular;
}
.coming-courses .swiper-container .swiper-wrapper .swiper-box .swiper-inner .duration img {
  margin: 0 0.2rem;
}
.coming-courses .swiper-container .swiper-wrapper .swiper-box .swiper-inner .swiper-box-footer {
  border-radius: 0px 0px 25px 25px;
  overflow: hidden;
  padding: 1rem 0rem 0rem;
  display: flex;
  justify-content: space-between;
}
.coming-courses .swiper-container .swiper-wrapper .swiper-box .swiper-inner .swiper-box-footer p {
  height: 100%;
  flex: 1;
  text-align: center;
  background-color: white;
  color: black;
  margin-bottom: 0 !important;
  padding: 1rem 0rem;
  font-family: "Cairo";
  font-weight: 500;
}
.coming-courses .swiper-container .swiper-wrapper .swiper-box .swiper-inner .swiper-box-footer p.course-status {
  border-radius: 0px 0px 0px 20px;
}
.coming-courses .swiper-container .swiper-wrapper .swiper-box .swiper-inner .swiper-box-footer p.salary {
  font-weight: 700;
  color: var(--primary--color);
  transition: 0.3s;
  border-radius: 0px 0px 20px 0px;
}
.coming-courses .swiper-container .swiper-wrapper .swiper-box:hover .image-overlay {
  opacity: 1;
}
.coming-courses .swiper-container .swiper-wrapper .swiper-box:hover p.salary {
  color: white !important;
  background-color: var(--primary--color);
}
.coming-courses .swiper-container .upcoming-pagination {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}
.coming-courses .swiper-container .upcoming-pagination span {
  background-color: #4c555d;
  opacity: 1;
  width: 20px;
  border-radius: 1px;
  height: 5px;
  margin: 0px 1px;
}
.coming-courses .swiper-container .upcoming-pagination .swiper-pagination-bullet-active {
  background-color: var(--primary--color);
  height: 7px;
  width: 24px;
}
.coming-courses .upcoming-navigation .swiper-upcoming-prev {
  position: absolute;
  top: 50%;
  left: 6%;
  background-color: transparent;
  border: none;
}
.coming-courses .upcoming-navigation .swiper-upcoming-next {
  position: absolute;
  top: 50%;
  right: 6%;
  background-color: transparent;
  border: none;
}
@media (max-width: 1024px) {
  .coming-courses .upcoming-navigation {
    display: none;
  }
}

.course-categories {
  position: relative;
  padding: 12rem 0rem 5rem;
  z-index: 10;
}
.course-categories .circle1 {
  position: absolute;
  bottom: 99%;
  right: 80px;
  transform: rotate(-8deg);
}
@media (max-width: 767px) {
  .course-categories .circle1 {
    width: 120px !important;
    bottom: 98%;
    right: 74px;
    transform: rotate(-6deg);
  }
}
.course-categories .circle2 {
  position: absolute;
  bottom: 98%;
  right: 0px;
}
@media (max-width: 767px) {
  .course-categories .circle2 {
    width: 130px !important;
  }
}
@media (max-width: 1024px) {
  .course-categories .categories-navigation {
    display: none;
  }
}
.course-categories .categories-navigation .swiper-categories-prev {
  position: absolute;
  top: 55%;
  left: 10%;
  border: none;
  background-color: transparent;
}
.course-categories .categories-navigation .swiper-categories-next {
  position: absolute;
  top: 55%;
  right: 10%;
  border: none;
  background-color: transparent;
}
.course-categories .categories-container {
  width: 80%;
  margin: auto;
}
@media (max-width: 767px) {
  .course-categories .categories-container {
    width: 95% !important;
  }
}
.course-categories .categories-container .categories-heading {
  position: relative;
}
.course-categories .categories-container .categories-heading p:first-child {
  font-family: saira-extraBold;
  font-weight: 900;
  font-size: 25px;
}
.course-categories .categories-container .categories-heading p:nth-of-type(2) {
  font-size: 27px;
  font-family: saira-medium;
  padding-left: 2rem;
}
.course-categories .categories-container .categories-heading img {
  margin-left: 2rem;
  margin-top: -15px;
}
.course-categories .categories-container .categories-heading p:nth-of-type(3) {
  width: 70%;
  margin: 50px auto;
  text-align: center;
}
@media (max-width: 767px) {
  .course-categories .categories-container .categories-heading p:nth-of-type(3) {
    width: 95% !important;
  }
}
.course-categories .categories-container .categories-heading p:nth-of-type(3) span {
  color: #f77b08;
  font-weight: 800;
}
.course-categories .categories-container .categories-heading button {
  color: var(--primary--color);
  border-radius: 20px;
  padding: 0.2rem 2rem;
  border: 1px solid var(--primary--color);
  background-color: #fff;
  position: absolute;
  top: 10%;
  right: 5%;
}
@media (max-width: 767px) {
  .course-categories .categories-container .categories-heading button.lab {
    display: none;
  }
}
.course-categories .categories-container .swiper-categories {
  width: 80%;
  margin: 30px auto;
  padding: 2rem 0rem;
  overflow: hidden;
}
.course-categories .categories-container .swiper-categories .swiper-wrapper {
  flex-direction: row !important;
}
.course-categories .categories-container .swiper-categories .swiper-wrapper .swiper-slide {
  padding: 0rem 0.5rem;
}
.course-categories .categories-container .swiper-categories .swiper-wrapper .swiper-slide .swiper-slide-box {
  box-shadow: 1px 1px 10px 2px rgba(179, 183, 184, 0.288);
  border-radius: 25px 25px 40px 5px;
  position: relative;
  padding-bottom: 1rem;
  background-color: white;
}
.course-categories .categories-container .swiper-categories .swiper-wrapper .swiper-slide .swiper-slide-box .back-border {
  position: absolute;
  top: -15px;
  left: -17px;
  z-index: -1;
}
.course-categories .categories-container .swiper-categories .swiper-wrapper .swiper-slide .swiper-slide-box .image-box {
  height: 200px;
  border-radius: 5px 5px 0px 0px;
  overflow: hidden;
}
.course-categories .categories-container .swiper-categories .swiper-wrapper .swiper-slide .swiper-slide-box .image-box img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}
.course-categories .categories-container .swiper-categories .swiper-wrapper .swiper-slide .swiper-slide-box .swiper-inner {
  background-color: white;
  padding: 2rem 0rem 0rem;
  overflow: hidden;
  width: 90%;
  margin: auto;
}
.course-categories .categories-container .swiper-categories .swiper-wrapper .swiper-slide .swiper-slide-box .swiper-inner p:first-child {
  font-family: saira-semiBold;
  text-align: center;
  color: var(--neutral-black);
  font-size: 18px;
}
.course-categories .categories-container .swiper-categories .swiper-wrapper .swiper-slide .swiper-slide-box .swiper-inner p:nth-of-type(2) {
  text-align: center;
  margin-top: 0.5rem;
  color: var(--primary--color);
  font-family: saira-semiBold;
  font-size: 15px;
}
.course-categories .categories-container .swiper-categories .categories-pagination {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  margin-top: 3rem;
}
.course-categories .categories-container .swiper-categories .categories-pagination span {
  width: 20px;
  border-radius: 1px;
  margin: 0px 1px;
  height: 5px;
}
.course-categories .categories-container .swiper-categories .categories-pagination .swiper-pagination-bullet-active {
  height: 7px;
  width: 30px;
}
.course-categories button.mobile {
  margin: 20px auto;
  border: 1px solid var(--primary--color);
  background-color: white;
  color: var(--primary--color);
  padding: 0.5rem 4rem;
  border-radius: 30px;
  font-family: saira-semiBold;
  display: none;
}
@media (max-width: 767px) {
  .course-categories button.mobile {
    display: block;
  }
}
.course-categories .separator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0rem 3rem;
}

.top-courses {
  width: 80%;
  margin: auto;
  border: 5px solid #ecf0f3;
  border-radius: 40px;
  padding: 4rem 2rem;
  position: relative;
}
@media (max-width: 767px) {
  .top-courses {
    width: 90% !important;
  }
}
.top-courses .star-border {
  position: absolute;
  bottom: 95%;
  left: -25px;
}
@media (max-width: 420px) {
  .top-courses .star-border {
    width: 50px;
    height: 50px;
    bottom: 96%;
    left: -13px;
  }
}
.top-courses .rectangle {
  position: absolute;
  top: 94.5%;
  right: -1px;
}
@media (max-width: 420px) {
  .top-courses .rectangle {
    top: 95%;
  }
}
.top-courses .top-heading {
  text-align: center;
}
.top-courses .top-heading p:first-child {
  font-family: saira-extraBold;
  font-size: 32px;
  color: var(--neutral-black);
}
.top-courses .top-heading p:nth-of-type(2) {
  font-family: saira-semiBold;
  font-size: 30px;
  color: var(--neutral-black);
}
.top-courses .top-heading p:nth-of-type(3) {
  margin-top: 3rem;
}
.top-courses .swiper-top-courses {
  margin-top: 3rem;
  width: 90%;
  margin: 3rem auto;
  overflow: hidden;
}
.top-courses .swiper-top-courses .swiper-wrapper {
  flex-direction: row !important;
}
.top-courses .swiper-top-courses .swiper-wrapper .swiper-box {
  cursor: pointer;
  width: 300px;
  background-color: #ffffff;
  border-radius: 30px;
  overflow: hidden;
}
.top-courses .swiper-top-courses .swiper-wrapper .swiper-box .swiper-image {
  border-radius: 20px 20px 0px 0px;
  height: 160px;
  overflow: hidden;
  position: relative;
}
.top-courses .swiper-top-courses .swiper-wrapper .swiper-box .swiper-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.top-courses .swiper-top-courses .swiper-wrapper .swiper-box .swiper-image .image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 12, 23, 0.6431372549);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  transition: 0.3s ease;
  opacity: 0;
  color: white;
}
.top-courses .swiper-top-courses .swiper-wrapper .swiper-box .swiper-image .image-overlay p {
  font-family: saira-medium;
}
.top-courses .swiper-top-courses .swiper-wrapper .swiper-box .swiper-inner {
  padding: 1rem 3px 0.4rem;
  color: var(--neutral-black);
}
.top-courses .swiper-top-courses .swiper-wrapper .swiper-box .swiper-inner p {
  font-family: saira-medium;
  font-size: 14px;
  margin-bottom: 2rem !important;
}
.top-courses .swiper-top-courses .swiper-wrapper .swiper-box .swiper-inner .duration span {
  font-size: 12px;
  font-family: saira-regular;
}
.top-courses .swiper-top-courses .swiper-wrapper .swiper-box .swiper-inner .duration img {
  margin: 0 0.2rem;
}
.top-courses .swiper-top-courses .swiper-wrapper .swiper-box .swiper-inner .swiper-box-footer {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.041);
  border-radius: 0px 0px 25px 25px;
  overflow: hidden;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.top-courses .swiper-top-courses .swiper-wrapper .swiper-box .swiper-inner .swiper-box-footer p {
  height: 100%;
  flex: 1;
  text-align: center;
  background-color: white;
  color: black;
  margin-bottom: 0 !important;
  padding: 1rem 0rem;
  font-family: "Cairo";
  font-weight: 500;
}
.top-courses .swiper-top-courses .swiper-wrapper .swiper-box .swiper-inner .swiper-box-footer p.course-status {
  border-radius: 0px 0px 0px 20px;
}
.top-courses .swiper-top-courses .swiper-wrapper .swiper-box .swiper-inner .swiper-box-footer p.salary {
  font-weight: 700;
  color: var(--primary--color);
  transition: 0.3s;
  border-radius: 0px 0px 20px 0px;
}
.top-courses .swiper-top-courses .swiper-wrapper .swiper-box:hover .image-overlay {
  opacity: 1;
}
.top-courses .swiper-top-courses .swiper-wrapper .swiper-box:hover p.salary {
  color: white !important;
  background-color: var(--primary--color);
}
.top-courses .swiper-top-courses .top-courses-pagination {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}
.top-courses .swiper-top-courses .top-courses-pagination span {
  background-color: #cccccc;
  opacity: 1;
  width: 20px;
  border-radius: 1px;
  height: 5px;
  margin: 0px 1px;
}
.top-courses .swiper-top-courses .top-courses-pagination .swiper-pagination-bullet-active {
  background-color: var(--primary--color);
  height: 7px;
  width: 30px;
}

.separator-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8rem auto;
}

.cities-venues {
  width: 80%;
  margin: auto;
  padding-bottom: 4rem;
}
@media (max-width: 767px) {
  .cities-venues {
    width: 90%;
  }
}
.cities-venues .cities-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cities-venues .cities-heading .cities-heading-left p:first-child {
  font-size: 30px;
  font-family: saira-extraBold;
  color: var(--neutral-black);
}
.cities-venues .cities-heading .cities-heading-left p:nth-of-type(2) {
  font-family: saira-medium;
  font-size: 28px;
  color: var(--neutral-black);
  padding-left: 2rem;
}
.cities-venues .cities-heading .cities-heading-left img {
  margin-left: 2rem;
}
.cities-venues .cities-heading .cities-heading-right {
  display: flex;
  gap: 0.5rem;
}
@media (max-width: 767px) {
  .cities-venues .cities-heading .cities-heading-right {
    display: none;
  }
}
.cities-venues .cities-heading .cities-heading-right button.training {
  border: 1px solid #f77b08;
  padding: 0.4rem 1.5rem;
  background-color: white;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.cities-venues .cities-heading .cities-heading-right button.training a {
  color: #f77b08;
  font-family: saira-semiBold;
  text-decoration: none;
}
.cities-venues .cities-heading .cities-heading-right button.view {
  border: 1px solid var(--primary--color);
  padding: 0.4rem 1.5rem;
  background-color: white;
  border-radius: 30px;
}
.cities-venues .cities-heading .cities-heading-right button.view a {
  color: var(--primary--color);
  font-family: saira-semiBold;
  text-decoration: none;
}
.cities-venues .cities-venues-description {
  text-align: center;
  width: 70%;
  margin: 3rem auto;
  margin-bottom: 3rem;
}
@media (max-width: 767px) {
  .cities-venues .cities-venues-description {
    width: 95%;
  }
}
.cities-venues .cities-venues-description span {
  color: #f77b08;
  font-family: saira-extraBold;
  font-size: 18px;
}
.cities-venues .cities-container {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 25px;
  overflow: hidden;
}
.cities-venues .cities-container .single-city {
  position: relative;
  margin-right: 1px;
  margin-bottom: 1px;
  height: 200px;
  width: calc(20% - 1px);
  cursor: pointer;
}
@media (max-width: 1024px) {
  .cities-venues .cities-container .single-city {
    width: calc(33.3333333333% - 1px);
  }
}
@media (max-width: 767px) {
  .cities-venues .cities-container .single-city {
    width: 100%;
  }
}
.cities-venues .cities-container .single-city img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cities-venues .cities-container .single-city img.overlay {
  z-index: 2;
}
.cities-venues .cities-container .single-city .city-details {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index: 10;
  color: white;
  padding-bottom: 1rem;
}
.cities-venues .cities-container .single-city .city-details p:first-child {
  font-family: saira-semiBold;
  font-size: 18px;
}
.cities-venues .cities-container .single-city .city-details p:nth-of-type(2) {
  font-family: saira-regular;
  font-size: 12px;
}
.cities-venues .cities-container .single-city .view-city {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 10;
  font-family: "Cairo";
  font-weight: 700;
}
.cities-venues .cities-container .single-city .view-city p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.cities-venues .cities-container .single-city .view-city p img {
  width: 12px;
  height: 12px;
  position: relative;
  margin-top: 2px;
}
.cities-venues .cities-container .single-city:hover .city-details {
  background-color: rgba(8, 131, 247, 0.2745098039);
  transition: 0.3s;
}
.cities-venues .cities-container .single-city:hover .view-city {
  display: flex;
  transition: 0.3s;
}
.cities-venues .cities-mobile-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  gap: 2rem;
  display: none;
}
@media (max-width: 767px) {
  .cities-venues .cities-mobile-buttons {
    display: flex;
  }
}
.cities-venues .cities-mobile-buttons button.training {
  border: 1px solid #f77b08;
  padding: 0.4rem 1.5rem;
  background-color: white;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 250px;
}
.cities-venues .cities-mobile-buttons button.training a {
  color: #f77b08;
  font-family: saira-semiBold;
  text-decoration: none;
}
.cities-venues .cities-mobile-buttons button.view {
  border: 1px solid var(--primary--color);
  padding: 0.4rem 1.5rem;
  background-color: white;
  border-radius: 30px;
  width: 250px;
}
.cities-venues .cities-mobile-buttons button.view a {
  color: var(--primary--color);
  font-family: saira-semiBold;
  text-decoration: none;
}

.partner-ship {
  background-image: url(../assets/partner-ship/Section-BG.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5rem 0rem;
  padding-bottom: 8rem;
  z-index: 10;
  position: relative;
}
.partner-ship .circle2 {
  position: absolute;
  top: 98%;
  right: 50px;
  transform: rotate(9deg);
}
@media (max-width: 767px) {
  .partner-ship .circle2 {
    width: 150px !important;
  }
}
.partner-ship .partner-heading {
  text-align: center;
}
.partner-ship .partner-heading p:first-child {
  font-family: saira-extraBold;
  font-size: 32px;
  font-weight: 800;
}
.partner-ship .partner-heading p:nth-of-type(2) {
  width: 70%;
  margin: auto;
  margin-top: 3rem;
  font-family: "Cairo";
  font-weight: 500;
}
@media (max-width: 767px) {
  .partner-ship .partner-heading p:nth-of-type(2) {
    width: 90%;
  }
}
.partner-ship .partner-heading p:nth-of-type(2) span {
  color: #f77b08;
  font-size: 18px;
  font-weight: 900;
}
.partner-ship .swiper-container {
  width: 70%;
  margin: 100px auto;
  height: 200px;
  margin-bottom: 0px;
  padding-top: 4rem;
  background-image: url(../assets/partner-ship/swiper-bg.png);
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (max-width: 1024px) {
  .partner-ship .swiper-container {
    width: 90%;
  }
}
@media (max-width: 767px) {
  .partner-ship .swiper-container {
    background-image: url(../assets/partner-ship/mobile-bg.png);
    height: 350px;
    padding-top: 2rem;
  }
}
@media (max-width: 767px) {
  .partner-ship .swiper-container .partner-navigation {
    position: absolute;
    bottom: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
.partner-ship .swiper-container .partner-navigation button.left {
  position: absolute;
  left: 20px;
  bottom: 25%;
  border: none;
  background-color: transparent;
}
@media (max-width: 767px) {
  .partner-ship .swiper-container .partner-navigation button.left {
    left: 25%;
  }
}
.partner-ship .swiper-container .partner-navigation button.right {
  position: absolute;
  right: 20px;
  bottom: 25%;
  border: none;
  background-color: transparent;
}
@media (max-width: 767px) {
  .partner-ship .swiper-container .partner-navigation button.right {
    right: 25%;
  }
}
.partner-ship .swiper-container .partner-swiper {
  width: 80%;
  margin: 0px auto;
  overflow: hidden;
}
.partner-ship .swiper-container .partner-swiper .swiper-wrapper {
  flex-direction: row !important;
  align-items: center;
}
.partner-ship .swiper-container .partner-swiper .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.partner-ship .swiper-container .partner-swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 767px) {
  .partner-ship .swiper-container .partner-swiper .swiper-wrapper .swiper-slide img {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .partner-ship .swiper-container .partner-swiper .swiper-wrapper .swiper-slide {
    margin-bottom: 10px;
    margin-right: 5px;
  }
}

.training-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000c17;
  padding: 10rem 0rem;
  position: relative;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .training-gallery {
    flex-direction: column;
  }
}
.training-gallery .circle1 {
  position: absolute;
  top: -20px;
  right: -5px;
  transform: rotate(-2deg);
}
@media (max-width: 767px) {
  .training-gallery .circle1 {
    width: 120px !important;
  }
}
.training-gallery .arrow1 {
  position: absolute;
  bottom: 0;
  left: 35%;
}
.training-gallery .arrow2 {
  position: absolute;
  top: 15px;
  right: 35%;
}
.training-gallery .bg-vector {
  position: absolute;
  left: -50px;
  top: -50px;
  overflow-x: hidden;
}
.training-gallery .border-vector {
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.training-gallery .training-left-side {
  color: white;
  padding: 0rem 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
}
@media (max-width: 1024px) {
  .training-gallery .training-left-side {
    width: 100%;
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .training-gallery .training-left-side {
    padding: 0rem 2rem;
  }
}
.training-gallery .training-left-side p:first-child {
  font-family: saira-bold;
  font-size: 32px;
}
.training-gallery .training-left-side p:nth-of-type(2) {
  font-family: "Cairo";
  margin-top: 3rem;
  font-weight: 500;
  line-height: 40px;
}
.training-gallery .training-left-side p:nth-of-type(2) span {
  font-weight: 800;
  color: var(--primary--color);
}
.training-gallery .training-right-side {
  width: 50%;
  position: relative;
}
@media (max-width: 1024px) {
  .training-gallery .training-right-side {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
.training-gallery .training-right-side img {
  width: 100%;
}
@media (max-width: 1024px) {
  .training-gallery .training-right-side img {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .training-gallery .training-right-side img {
    width: 90%;
  }
}/*# sourceMappingURL=style.css.map */