@use "./layout/_variables.scss" as *;
.navigation-bar {
  width: 80%;
  margin: 30px auto;
  height: 65px;
  padding-left: 2.5rem;
  padding-right: 0.5rem;
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  border-radius: 35px;
  align-items: center;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.068);
  transition: background-color 05s ease;
  background-color: var(--natural-white);
  transition: box-shadow 0.3s ease;
  z-index: 1000;
  .navigation-left-side {
    display: flex;
    gap: 2rem;
    .navigation-menu {
      display: none;
      a {
        font-family: saira-semiBold;
        text-decoration: none;
      }
      @include tablet {
        align-self: center;
        display: flex;
      }
    }
    @include mobileXS {
      gap: 1.5rem;
    }
  }

  ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    height: 65px;
    align-items: center;
    gap: 2rem;
    .active-link {
      color: var(--primary--color);
      font-family: saira-semiBold;
      border-bottom: 2px solid var(--primary--color);
    }
    a {
      color: var(--neutral-black);
      text-decoration: none;
      font-family: saira-regular;
      padding: 1rem 0rem;
    }
    @include customScreen {
      gap: 1.5rem;
    }
    @include tablet {
      display: none;
    }
  }
  svg {
    cursor: pointer;
  }
  @include customScreen {
    padding-left: 1rem;
  }
  @include mobile {
    width: 93%;
    padding-left: 1.5rem;
  }
  @include mobileXS {
    padding-left: 1rem;
  }
}
.navigation-bar.scrolled {
  transition: background-color 0.5s ease;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.068);
  background-color: rgba(236, 240, 243, 0.945);
}
.hero-section {
  position: relative;
  width: 90%;
  height: 550px;
  overflow: hidden;
  margin: 120px auto;
  border-radius: 35px;
  .content-overlay {
    position: absolute;
    width: 95%;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    h1 {
      color: #ffffff;
      font-family: saira-semiBold;
      font-size: 50px;
      width: 100%;
      font-weight: 700;
      text-align: center;
      @include mobile {
        font-size: 30px;
      }
    }
    p {
      color: #ffffff;
      font-family: saira-semiBold;
      font-size: 32px;
      @include mobile {
        font-size: 20px;
      }
    }
  }
  .mySwiper {
    width: 100%;
    height: 100%;
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.555);
      }
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .hero-slide-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        h3 {
          color: var(--natural--white);
          font-family: "Cairo";
          font-size: 40px;
          font-weight: 600;
          text-transform: capitalize;
          @include mobile {
            font-size: 25px;
          }
        }
        p {
          font-family: "Cairo";
          text-transform: capitalize;
          color: var(--natural--white);
          font-size: 30px;
          @include mobile {
            font-size: 18px;
          }
        }
        button {
          margin-top: 1rem;
          background-color: var(--primary--color);
          border: none;
          border-radius: 35px;
          color: var(--ternary-neutrals--5);
          padding: 0.6rem 2.4rem;
          font-family: saira-semiBold;
          display: flex;
          gap: 0.8rem;
          justify-content: center;
          align-items: center;
          box-shadow: 0px 0px 10px 7px rgba(8, 131, 247, 0.315);
        }
        @include mobile {
          padding-bottom: 4rem;
        }
      }
    }
  }
  .swiper-pagination {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    gap: 2px;
  }
  .swiper-pagination-vertical.swiper-pagination-bullets
    .swiper-pagination-bullet,
  .swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
    height: 25px;
    border-radius: 1px;
    width: 5px !important;
    background: var(--swiper-pagination-bullet-inactive-color, #fff);
    margin: 0;
  }
  .swiper-vertical
    > .swiper-pagination-bullets
    .swiper-pagination-bullet-active {
    border-radius: 1px;
    width: 7px !important;
    background: var(--swiper-pagination-bullet-inactive-color, #0884f7);
  }
  .swiper-button-prev {
    position: absolute;
    right: 10px !important;
    left: unset !important;
    bottom: unset !important;
    top: 30% !important;
    &::after {
      content: "";
    }
    @include mobile {
      display: none;
    }
  }
  .swiper-button-next {
    position: absolute;
    right: 10px !important;
    left: unset !important;
    bottom: 23% !important;
    top: unset !important;
    &::after {
      content: "";
    }
    @include mobile {
      display: none;
    }
  }
  .swiper-pagination {
    right: 20px !important;
    @include mobile {
      right: 10px !important;
    }
  }
  .social-media {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 40px;
    background-image: url("../assets/social-media/BG.svg");
    background-size: cover;
    padding: 0.7rem 1.5rem;
    @include mobile {
      flex-direction: row;
      background-image: url("../assets/social-media/BG2.svg");
      background-size: cover;
      padding: 0.4rem 0rem;
      left: 50%;
      transform: translateX(-50%);
      bottom: 20px;
      top: unset;
      width: 80%;
      justify-content: center;
    }
    @include mobileXS {
      width: 85%;
    }
    @media (max-width: 380px) {
    width: 90%;
    }
  }
}
